// #introduce
#introduce {
  width: 100%;
  height: 100%;
  padding: 40px 100px;

  @include mobile() {
    padding: 10px;
  }

  h2 {
    @include h2;
  }

  // .about_inner
  @at-root .about_inner {
    width: 100%;
    display: flex;

    @include mobile() {
      margin-top: 18px;
      flex-wrap: wrap;
    }
    
    @at-root .about_left {
      width:  455px;

      @include mobile() {
        width: 100%;
      }

      @at-root .greeting {
        width: 269px;
        height: 66px;

        p {
          font-size: map-get($map: $font_size, $key: pointcontent);
          font-weight: $font_weight_medium;

          @include mobile() {
            font-size: map-get($map: $font_size_m, $key: pointcontent);
          }

          @include tablet() {
            font-size: map-get($map: $font_size_m, $key: pointcontent);
          }
        }
        @include tablet() {
          width: 100%;
          height: auto;
        }
      } // --- .greeting

      // .id_picture
      @at-root .id_picture {
        width: 232px;
        height: 232px;
        margin-top: 15px;
        border-radius: 50%;
        background-image: url(../../img/introduceImg.JPG);
        background-size: 246px 300px;

        @include mobile() {
          display: none;
        }

        @include tablet() {
          width: 210px;
          height: 210px;
          background-size: 240px 300px;
        }
      }
      @at-root .sort_introduce {
        width: 298px;
        height: auto;
        margin-top: 30px;

        span {
          font-size: map-get($map: $font_size, $key: content1);

          @include mobile() {
            font-size: map-get($map: $font_size_m, $key: content1);
          }

          @include tablet() {
            font-size: map-get($map: $font_size_m, $key: content1);
          }
        }

        @include mobile() {
          margin-top: 0px;
          height: auto;
          line-height: 21px;
        }

        @include tablet() {
          width: 100%;
          height: auto;
          line-height: 20px;
        }
      } // --- .sort_introduce

      @include tablet() {
        width: 36.609%;
      }
    } // --- .about_left

    // .about_midle
    @at-root .about_middle {
      width: 315px;

      @include mobile() {
        width: 100%;
      }

      article h3 {
        @include h3;
        margin-top: 46px;

        @include mobile() {
          margin-top: 20px;
        }

        @include tablet() {
          margin-top: 25px;
        }
      }
      @at-root .profile h3 {
        margin-top: 90px;
      }
      p {
        margin-top: 15px;
        line-height: 22px;
        font-size: map-get($map: $font_size, $key: content1);

        @include mobile() {
          font-size: map-get($map: $font_size_m, $key: content1);
        }

        @include tablet() {
          margin-top: 10px;
          font-size: map-get($map: $font_size_m, $key: content1);
        }
      }

      @include tablet() {
        width: 32.614%;
        margin-top: 50px;
      }
    } // --- .about_midle

    // .about_right
    @at-root .about_right {
      width: 310px;

      @include mobile() {
        width: 100%;
        // display: none;
      }

      @at-root .skill {
        margin-top: 90px;
        display: flex;
        justify-content: end;

        @include mobile() {
          margin-top: 30px;
          justify-content: flex-start;
        }

        @at-root .skill_title {
          width: 66px;
          height: 55px;
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_bold;

          @include tablet() {
            width: auto;
            height: auto;
            font-size: map-get($map: $font_size_m, $key: content1);
          }
        }
        @at-root .skill_title span:first-child::after {
          content: '';
          width: 13px;
          margin: 10px 0;
          display: block;
          flex-grow: 1;
          font-size: 0px;
          line-height: 0px;
          border: 1px solid #000
        }

        // .skillBox
        @at-root .skillBox {
          display: flex;
          flex-direction: column;

          @at-root .skill_inner {
            width: auto;
            display: flex;
            margin: 12px 0;
            
            p {
              font-size: map-get($map: $font_size, $key: content1);

              @include mobile() {
                font-size: map-get($map: $font_size_m, $key: content1);
              }
            }

            @at-root .checkbox {
              width: 18px;
              height: 18px;
              line-height: 24px;
              border: 1px solid #cdcdcd;
              margin-right: 14px;
            }
          } // --- .skill_inner
        } // --- .skillBox

        @include tablet() {
          margin-top: 70px;
          gap: 6%;
        }
      } // --- .skill

      @include tablet() {
        width: 20.959%;
      }
    } // --- .about_right

    @include tablet() {
      height: -webkit-fill-available;
      gap: 5%;
    }
  } // --- .about_inner

  @include tablet() {
    padding: 3.907% 6.511%;
  }
} // --- #introduce
