// #project
#project {
  width: 100%;
  height: auto;
  padding-top: 40px;

  h2 {
    @include h2;
    padding: 0 100px;

    @include mobile() {
      padding: 0 10px;
    }
  }

  .portfolio_content {
    margin-top: 2.5%;
    padding: 3.125% 7.813% 0;

    @include mobile() {
      padding: 0 3.334%;
    }

    // 프로젝트 설명
    .project_intro {
      @include projectIntro();

      @include introTxt();

      @include guideMockup();

      @include tablet() {
        gap: 20px;
        flex-wrap: wrap;
      }
    } // --- project_intro - 프로젝트 설명

    // .guide - 가이드라인 
    .guide {
      @include guideBox();
      color: $color_black;

      h3 {
        @include guidelineh3 ();
      }

      // .guide_content - 포트폴리오 프로젝트 설명
      .guide_content {
        @include guideflex();

        .logo_part {
          @include guidelogoContent();


          h4 {
            @include h4();
          }
          .logo {
            @include logoMargin();


            span{
              font-weight: $font_weight_regular;
              font-family: $font-family_black;
              font-size: map-get($map: $font_size, $key: projectsub);
              letter-spacing: 9px;
            }

            .title_O {
              color: $color_yellow;
            }
            .title_H {
              color: $color_blue;
            }
            .title_A {
              color: $color_orange;
            }

            p{
              @include logoInP();
            }
          } // --- .logo

          .mobile_guide {
            @include tablet() {
              display: flex;
            }

            h5 {
              @include h5();
              margin-top: 26.9%;
              margin-left: 1.433%;

              @include mobile() {
                margin-top: 6.6667%;
                margin-left: 0px;
              }

              @include tablet() {
                margin-top: 40px;
              }
            }

            // .logo_font
            .logo_font {

              
              .font_inner {
                width: 340px;
                margin-top: 2.863%;
                margin-left: 1.433%;
                display: flex;
                gap: 3.9%;

                .logoFontEx {
                  width: 112px;
                  height: 156px;
                  border: 1.5px solid $color_grayC;
                  border-radius: 4px;

                  span {
                    width: 100%;
                    height: 104px;
                    display: block;
                    font-family: $font-family_black;
                    font-size: 36px;
                    text-align: center;
                    line-height: 104px;

                    @include mobile() {
                      height: 12.395vh;
                    }

                    @include tablet() {
                      height: 85px;
                      line-height: 90px;
                    }
                  }
                  .font_name {
                    @include fontName();
                    p:last-child {
                      font-size: map-get($map: $font_size, $key: content2);
                      font-weight: $font_weight_regular;
                    }
                  } // --- .font_name - 폰트명

                  @include mobile() {
                    width: 29.226%;
                    height: 17.606vh;
                  }

                  @include tablet() {
                    height: 134px;
                  }
                } // --- .logoFontEx - 폰트 예시 이미지

                @include mobile() {
                  width: auto;
                  margin-top: 3.334%;
                  margin-left: 1.667%;
                }
                @include tablet() {
                  width: auto;
                  margin-top: 15px;
                }
              }

              // .fontExp
              .fontExp {
                width: 214px;
                height: auto;

                .explanation {
                  font-size: map-get($map: $font_size, $key: content1);

                  @include mobile() {
                    font-size: map-get($map: $font_size_m, $key: content1);
                  }

                  @include tablet() {
                    font-size: map-get($map: $font_size_m, $key: content1);
                  }
                }

                .explanation:nth-last-child(-n+2) {
                  // font-size: map-get($map: $font_size, $key: content1);
                  margin-top: 12px;

                  @include mobile() {
                    margin-top: 9px;
                  }
                }

                @include mobile() {
                  width: 67.12%;
                  height: auto;
                }
              } // --- .fontExp = 글꼴 설명

              @include mobile() {
                width: 100%;
                gap: 8px;
              }

              @include tablet() {
                width: 50%;
              }
            } // --- .logo_font

            
            .font_color {

              .colorSubTilte {
                @include h5();
                margin: 15.74% 0 5.724% 1.433%;
  
                @include mobile() {
                  margin: 6.667% 0 3.3335% 0;
                }
  
                @include tablet() {
                  margin-top: 40px;
                }
              }
              .color_inner {
                width: 100%;
                margin-left: 5px;
                display: flex;
                flex-wrap: wrap;

                // .color_list
                .color_list {
                  display: flex;

                  .list_yellow {
                    width: 22px;
                    height: 22px;
                    margin-right: 14px;
                    border-radius: 50%;
                    background: $color_yellow;
                  }

                  .list_bule {
                    width: 22px;
                    height: 22px;
                    margin-right: 14px;
                    background: $color_blue;
                  }

                  .list_orange {
                    width: 0px;
                    height: 0px;
                    border-bottom: 22px solid #FB8145;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                  }
                } // --- .color_list


                // .fontColorExp
                .fontColorExp {
                  margin-top: 10px;
                  p {
                    font-size: map-get($map: $font_size, $key: content1);
                  
                    @include mobile() {
                      font-size: map-get($map: $font_size_m, $key: content1);
                    }
                  
                    @include tablet() {
                      font-size: map-get($map: $font_size_m, $key: content1);
                    }
                  }
                  p:last-child {
                    margin-top: 12px;
                  
                    @include mobile() {
                      margin-top: 8px;
                    }
                  }
                } // --- .fontColorExp

                @include mobile() {
                  margin-left: 1.667%;
                }
              }

              @include tablet() {
                width: 47%;
              }
            } // --- .font_color - 폰트 색상

            @include tablet() {
              display: flex;
              gap: 3%;
            }
          }
        } // --- .logo_part - 로고 가이드라인
      
        // .font_part
        .font_part {
          @include fontPartBox(); // --- .font_size - 폰트 사이즈 가이드라인
          
          .fontSize32 {
            p {
              font-size: map-get($map: $font_size, $key: projecttitle);
              letter-spacing: 10px;
            }
          } // --- .fontSize32

          .fontSize11 {
            @include fontSizeEx();
      
            p {
              font-size: map-get($map: $font_size, $key: fnb);
              letter-spacing: 10px;
            }
          } // --- .fontSize11
        } // --- .font_part - 폰트 설명 

        // color_part - 가이드라인 color부분
        .color_part {
          @include colorPartBox();
          
          h4 {
            @include h4();
          }
          .icon_inner {

            .color_content {
              @include colorPartBox();
              width: 100%;
            
              .colorSubTitle {
                @include h5();
              }

              span {
                @include ColorRgbTxt();
              }

              // .icon_color
              .icon_color {
                width: 100%;
                margin-top: 18px;
                display: flex;
                gap: 50px;
              
                .icon_yellow {
                  display: flex;
                  row-gap: 5px;
                  flex-direction: column;
                
                  .yellow_shapes {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: $color_yellow;

                    @include mobile() {
                      width: 78px;
                      height: 78px;
                    }
                  }
                } // --- .icon_yellow

                // .icon_bule
                .icon_bule {
                  display: flex;
                  row-gap: 5px;
                  flex-direction: column;

                  .bule_shapes {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: $color_blue;

                    @include mobile() {
                      width: 78px;
                      height: 78px;
                    }
                  }
                } // --- .icon_bule

                // .icon_orange
                .icon_orange {
                  display: flex;
                  row-gap: 5px;
                  flex-direction: column;
                
                  .orange_shapes {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: $color_orange;

                    @include mobile() {
                      width: 78px;
                      height: 78px;
                    }
                  }
                } // --- .icon_orange

                @include mobile() {
                  margin-top: 10px;
                  gap: 36px;
                  justify-content: center;
                }
              } // --- .icon_color

              // .bottom_color
              .bottom_color {
                width: 100%;
                margin-top: 30px;
                display: flex;
                gap: 24px;
              
                .point_color {
                  display: flex;
                  flex-direction: column;
                
                  .icon_red {
                    width: 60px;
                    height: 60px;
                    margin: auto;
                    margin-top: 10px;
                    border-radius: 50%;
                    background-color: $color_red;

                    @include mobile() {
                      width: 78px;
                      height: 78px;
                    }
                  }
                } // --- .point_color

                // .background_color
                .background_color {
                  display: flex;
                  row-gap: 5px;
                  flex-direction: column;
                
                  .icon_white {
                    width: 60px;
                    height: 60px;
                    // margin-left: 8.77px;
                    margin-top: 10px;
                    border: 1px solid #cfcfcf;
                    border-radius: 50%;
                    background-color: $color_graywhite;

                    @include mobile() {
                      width: 78px;
                      height: 78px;
                    }
                  }

                  .backgroundColorTxt {
                    text-align-last: left;
                    margin-left: 8.77px;
                  }
                } // --- .background_color

                @include mobile() {
                  margin-top: 6.53%;
                  gap: 36px;
                  justify-content: center;
                }

                @include tablet() {
                  margin-top: 26px;
                }
              } // --- .bottom_color
              
            } // --- .color_content - 사용한 색상 가이드라인
          }

          // .button_color
          .button_color {
            width: 100%;
            margin-top: 94px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-weight: $font_weight_medium;
            
            // .button_content
            .button_content {
              width: 294px;
              display: flex;
              margin-left: 5px;
              gap: 18px;
            
              .resume_btn {
                @include fnb ();
                background-color: $color_yellow;
              }

              .github_btn {
                @include fnb ();
                background-color: $color_blue;
                color: $color_white;
              }

              .notion_btn {
                @include fnb ();
                background-color: $color_orange;
              }

              @include mobile() {
                display: none;
              }
            } // --- .button_content

            // .button_hover - 버튼 마우스 오버 시 색상 및 굵기
            .button_hover {
              width: 100%;
              display: flex;
              margin-left: 5px;
              gap: 30px;
            
              h5 {
                @include h5();
              }

              span {
                font-size: 36px;
                font-weight: $font_weight_regular;
              }

              p {
                font-size: map-get($map: $font_size, $key: content1);
                font-weight: $font_weight_regular;
              }

              // .nomal_part
              .nomal_part {
                .nomal_ex {
                  width: 100px;
                  height: 100px;
                  margin-top: 10px;
                  padding-top: 20px;
                  text-align: center;
                  border: 1.5px solid $color_grayC;
                  border-radius: 4px;
                }
              } // --- .nomal_part

              // .hover_part
              .hover_part {
                .hover_ex {
                  width: 100px;
                  height: 100px;
                  margin-top: 10px;
                  padding-top: 20px;
                  text-align: center;
                  border: 1.5px solid $color_grayC;
                  border-radius: 4px;
                
                  span {
                    font-weight: $font_weight_medium;
                    color: $color_red;
                  }

                  p {
                    color: $color_red;
                  }
                } // --- .hover_ex
              } // --- .hover_part

              @include mobile() {
                margin-left: 2.177%;
                justify-content: center;
              }
            } // --- .button_hover

            @include mobile() {
              margin-top: 9.143%;
            }

            @include tablet() {
              width: 100%;
              margin-top: 40px;
            }
          } // --- .button_color
        } // --- color_part  - 가이드라인 color부분
      } // --- .port_content - 포트폴리오 프로젝트 설명
    } // --- .guide - 가이드라인부분

    // .pagever_intro - 사이트 주기능 설명
    .pagever_intro {
      @include pageIntro();

      h3 {
        @include guidelineh3 ();
      }

      .pagever_content {
        display: flex;
        gap: 30px;
        margin-top: 36px;

        @include mobile() {
          flex-wrap: wrap-reverse;
        }
        .portfolio_mockup {
          width: 526px;
          height: 960px;
          margin-top: 36px;
          background-image: url(../../img/portfolio_capture.png);
          background-size: 100% 100%;

          @include mobile() {
            width: 350px;
            height: 77.465vh;
            margin: auto;
            margin-top: 0;
          }

          @include tablet() {
            width: 100%;
            height: 628px;
            margin-top: 0;
          }
        }
        
        @include mobile() {
          margin-top: 8px;
        }

        @include tablet() {
          margin-top: 16px;
        }
      }

      .page_explanation {
        h4 {
          @include h4();
        }
        p {
          @include arrowSvgTxt();
        }
        // 빨간 선
        .arrowLineRed {
          position: relative;
          top: 20px;
          left: 0px;
          p {
            @include mobile() {
              margin-top: 2.667%;
              top: 0;
              left: 0;
            }

            @include tablet() {
              top: 4px;
              left: 0;
              margin-top: 10px;
            }
          }
          svg {
            @include arrowSvg();
            bottom: 84px;
            left: 320px;

            @include mobile() {
              display: none;
            }

            @include tablet() {
              width: 150px;
              bottom: 98px;
              left: 200px;
            }
          }

          @include mobile() {
            top: 0;
            left: 0;
            text-align: center;
          }

          @include tablet() {
            width: 100%;
            top: 0;
            left: 0;
          }
        }

        // 파란선
        .arrowLineBlue {
          position: relative;
          top: 209px;
          left: 58px;
          p {
            @include mobile() {
              margin-top: 2.667%;
              top: 0;
              left: 0;
            }
          }
          svg {
            @include arrowSvg();
            bottom: 92px;
            left: 300px;

            @include mobile() {
              display: none;
            }

            @include tablet() {
              width: 124px;
              bottom: 102px;
              left: 206px;
            }
          }

          @include mobile() {
            margin-top: 5%;
            top: 0;
            left: 0;
            text-align: center;
          }

          @include tablet() {
            top: 86px;
            left: 0;
          }
        }

        // 노란선
        .arrowLineYellow {
          position: relative;
          top: 246px;
          left: 20px;
          p {
            @include mobile() {
              margin-top: 2.667%;
              top: 0;
              left: 0;
            }
          }
          svg {
            @include arrowSvg();
            bottom: 80px;
            left: 330px;

            @include mobile() {
              display: none;
            }

            @include tablet() {
              width: 350px;
              bottom: 70px;
              left: 170px;
            }
          }

          @include mobile() {
            margin-top: 5%;
            top: 0;
            left: 0;
            text-align: center;
          }

          @include tablet() {
            top: 100px;
            left: 0;
          }
        }

        // 주황선
        .arrowLineOrenge {
          position: relative;
          top: 424px;
          left: 80px;

          p {
            @include mobile() {
              margin-top: 2.667%;
              top: 0;
              left: 0;
            }
          }
          svg {
            @include arrowSvg();
            bottom: 50px;
            left: 324px;
            
            @include mobile() {
              display: none;
            }

            @include tablet() {
              width: 120px;
              bottom: 70px;
              left: 210px;
            }
          }

          @include mobile() {
            margin-top: 5%;
            top: 0;
            left: 0;
            text-align: center;
          }

          @include tablet() {
            top: 170px;
            left: 30px;        
          }
        }

        @include mobile() {
          width: 100%;
          height: auto;
          margin-bottom: 40px;
        }

        @include tablet() {
          width: 45%;
        }
      } // --- .page_explanation
    } // --- pagever_intro - 사이트 주기능 설명

    @include mobile() {
      padding: 0 2.137%;
    }

    @include tablet() {
      padding: 0 6.511% 6.511%;
    }
  } // --- .portfolio_content - 포트폴리오 프로젝트 설명

  // .kiki_content - 마녀배달부키키 프로젝트 설명
  .kiki_content {
    padding: 92px 100px 0;
    background-color: #A5C2D3;
    color: $color_green;

    // .project_intro
    .project_intro {
      @include projectIntro();

      // .mockup
      @include guideMockup();

      @include introTxt();

      @include mobile() {
        flex-wrap: wrap-reverse;
      }

      @include tablet() {
        flex-wrap: wrap-reverse;
      }
    }



    // .guide
    .kiki_guide {
      @include guideBox();
      color: $color_green;

      h3 {
        @include guidelineh3();
      }

      // .guide_content
      .guide_content {
        @include guideflex();

        //.logo_part
        .logo_part {
          @include guidelogoContent ();

          h4 {
            @include h4();
          }

          // .logo
          .logo {
            @include logoMargin();

            img {
              width: 118px;
              height: 22px;
            }
            p {
              @include logoInP();
            }
            p:last-child {
              font-size: map-get($map: $font_size, $key: fnb);
              color: $color_gray
            }
          } // --- .logo

          h5 {
            @include h5();
            margin-top: 24px;
            margin-left: 5px;
          }

          // .button_box
          .button_box {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 15px;

            // .button_content
            .button_content {
              width: 78px;
              height: 96px;
              border: 1.5px solid $color_green;
              border-radius: 4px;
              display: flex;
              flex-wrap: wrap;

              .button_img {
                width: 100%;
                height: 60px;

                i {
                  width: 100%;
                  line-height: 60px;
                  text-align: center;
                }
                .ghi {
                  width: 30px;
                  height: 30px;
                  margin: 15px 22px;
                }
                .net {
                  width: 65px;
                  height: 40px;
                  margin: 10px 5px;
                }
                .wav {
                  width: 64px;
                  height: 16px;
                  margin: 22px 5px;
                }
              }

              // .font_name
              .font_name {
                @include fontName();

                background-color: $color_white;
                padding: 3px 0;

                p {
                  font-size: map-get($map: $font_size, $key: content2);
                  text-align: center;
                  line-height: 27px;
                }
              } // --- .font_name
            } // --- .button_content 
          } // --- .button_box

          .cursor_box {
            margin-top: 20px;
            display: flex;
            gap: 20px;

            p {
              font-size: map-get($map: $font_size, $key: content1)
            }
          }
        } // --- .logo_part
      } // --- .guide_content

      // .font_part
      .font_part {
        @include fontPartBox();

        .font_regular, .font_medium, .font_bold {
          background-color: $color_white;
        }

        .fontSize96 {
          p {
            font-size: 44px;
            letter-spacing: 10px;
          }
        } // --- .fontSize96

        .fontSize12 {
          p {
            font-size: map-get($map: $font_size, $key: content2);
            letter-spacing: 10px;
          }
        } // --- .fontSize12
      } // --- .font_part
    } // --- .guide

    // .color_part
    .color_part {
      @include colorPartBox();

      h4 {
        @include h4();
      }

      .kiki_SubTitle {
        @include h5();
        margin-top: 18px;
        margin-left: 5px;

        @include mobile() {
          margin-top: 0px;
          margin-left: 0px;
        }
      }

      // .back_color
      .back_color {
        display: flex;
        margin-top: 18px;
        margin-left: 5px;
        flex-wrap: wrap;
        column-gap: 26px;
        row-gap: 20px;

        span {
          width: 100%;
          height: auto;
          display: block;
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_medium;
          text-align: center;
          text-transform: uppercase;
          line-height: 31px;
        }

        // .back_content
        .back_content {
          @include backPointColor();


          .green_shapes {
            @include back_shapes();
            background-color: #0a4b41;
          }

          .blue_shapes {
            @include back_shapes();
            background-color: #1145a2;
          }

          .bagie_shapes {
            @include back_shapes();
            background-color: #d7dac7;
          }

          .black_shapes {
            @include back_shapes();
            background-color: #000000;
          }

          .skyBule_shapes {
            @include back_shapes();
            background-color: #b7cae8;
          }

          .purple_shapes {
            @include back_shapes();
            background-color: #4f4259;
          }
        } // --- .back_content
      } // --- .back_color
    } // --- .color_part

    // .point_part
    .point_part {
      margin-top: 30px;

      h4 {
        @include h4();
      }

      // .kikiPointColor
      .kikiPointColor {
        display: flex;
        gap: 32px;
        margin-top: 18px;
        margin-left: 5px;

        // .kikiPointContent
        .kikiPointContent {
          display: flex;
          flex-direction: column;

          .colorSubTitle {
            @include h5();
            margin-top: 0px;
            margin-left: 0px;
          }

          // .back_red
          .back_red {
            @include backPointColor();
            margin: auto;
            margin-top: 10px;

            span {
              width: 100%;
              height: 34px;
              display: block;
              font-size: map-get($map: $font_size, $key: content1);
              text-align: center;
              line-height: 31px;
              text-transform: uppercase;
            }

            .red_shapes {
              @include back_shapes();
              background-color: #d71e15;
            }
          } // --- .back_red
        } // --- .kikiPointContent

        // .kikiPointfont
        .kikiPointfont {
          display: flex;
          flex-direction: column;

          .colorSubTitle {
            @include h5();

            margin-top: 0px;
            margin-left: 0px;
          }
          .font_bold {
            width: 84px;
            height: 104px;
            border: 1.5px solid #ccc;
            border-radius: 4px;
            margin-top: 10px;
            background-color: $color_white;
          
            span {
              width: 100%;
              height: 66px;
              display: block;
              font-size: 36px;
              font-weight: $font_weight_bold;
              text-align: center;
              line-height: 68px;
            }

            // .font_name
            .font_name {
              @include fontName();

              height: auto;
              padding: 2px 4px;

              p { 
                font-size: map-get($map: $font_size, $key: content2);
              }
            } // --- .font_name
          } // --- .font_bold
        } // --- .kikiPointfont
      } // --- .font_bold
    } // --- .point_part

    // .pointFontSize
    .pointFontSize {
      margin-top: 15px;
      margin-left: 5px;

      span {
        font-size: map-get($map: $font_size, $key: content1);
      }

      p {
        font-size: map-get($map: $font_size, $key: projecttitle);
        letter-spacing: 10px;
        text-transform: uppercase;
      }
    } // --- .pointFontSize

    // .pagever_intro
    .pagever_intro {
      @include pageIntro();
    
      h3 {
        @include guidelineh3 ();
      }

      // .pagever_content
      .kikipagever_content {
        display: flex;
        gap: 30px;
        margin-top: 36px;

        .kiki_mockup {
          width: 526px;
          height: 960px;
          background-image: url(../../img/kiki_capture.png);
          background-size: 100% 100%;

          @include mobile() {
            width: 350px;
            height: 77.465vh;
            margin: auto;
            margin-top: 0;
          }

          @include tablet() {
            width: 100%;
            height: 628px;
            margin-top: 0;
          }
        }

        .page_explanation {
          h4 {
            @include h4();
          }
          p {
            @include arrowSvgTxt();
          }

          // 어두운 빨간 선
          .arrowLineDWRed {
            width: fit-content;
            position: relative;
            top: 80px;
            left: 80px;
            p {
              @include mobile() {
                margin-top: 2.667%;
                text-align: center;
                top: 0;
                left: 0;
              }
            }

            svg {
              @include arrowSvg();
              bottom: 88px;
              right: 520px;        

              @include mobile() {
                display: none;
              }

              @include tablet() {
                display: none;
              }
            }

            @include mobile() {
              margin: auto;
              top: 0;
              left: 0;
              text-align: center;
            }

            @include tablet() {
              width: inherit;
              top: 80px;
              left: 22px;
            }
          }

          // 베이지색 선
          .arrowLineBeige {
            width: fit-content;
            position: relative;
            top: 350px;
            left: 150px;

            p {
              @include mobile() {
                margin-top: 2.667%;
                text-align: center;
                top: 0;
                left: 0;
              }
            }

            svg {
              @include arrowSvg();
              bottom: 120px;
              right: 200px;

              @include mobile() {
                display: none;
              }

              @include tablet() {
                display: none;
              }
            }

            @include mobile() {
              margin: auto;
              margin-top: 5%;
              top: 0;
              left: 0;
              text-align: center;
            }

            @include tablet() {
              width: inherit;
              top: 200px;
              left: 22px;
            }
          }

          // 초록선
          .arrowLineGreen {
            width: fit-content;
            position: relative;
            top: 536px;
            left: 222px;
            p {
              @include mobile() {
                margin-top: 2.667%;
                top: 0;
                left: 0;
              }
            }

            svg {
              @include arrowSvg();
              bottom: 88px;
              right: 280px;

              @include mobile() {
                display: none;
              }

              @include tablet() {
                display: none;
              }
            }

            @include mobile() {
              margin: auto;
              margin-top: 5%;
              top: 0;
              left: 0;
              text-align: center;
            }

            @include tablet() {
              top: 310px;
              left: 22px;
            }
          }

          @include tablet() {
            width: 49.7%;
          }
        } // --- .page_explanation

        @include mobile() {
          flex-wrap: wrap;
          margin-top: 8px;
        }
        @include tablet() {
          gap: 0;
        }
      } // --- .pagever_content
    } // --- .pagever_intro
    @include mobile() {
      padding: 12.5% 3.125%;
    }

    @include tablet() {
      padding: 3.907% 6.511%;
    }
  } // --- .kiki_content
}   // #project
