@charset "UTF-8";
/* portfolio2.css */
/* fonts.css */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Black-Han Sans';
  src: url("../../font/Black_Han_Sans/BlackHanSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 전체 레이아웃 설정 */
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: #fff;
  font-family: "S-Core_Dream_OTF";
  font-weight: 300;
  /* #headbox */
  /* #footBox */
}

#wrap #headbox {
  width: 100%;
  height: 70px;
  line-height: 30px;
  padding: 20px 100px;
  position: sticky;
  display: flex;
  top: 0;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1000;
}

#wrap #headbox .headinner {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  /* logo */
}

#wrap #headbox .headinner h1 {
  width: auto;
  height: 100%;
}

#wrap #headbox .headinner h1 a {
  font-family: 'Black-Han-Sans';
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 9px;
}

#wrap #headbox .headinner h1 a .title_O {
  color: #FDD131;
}

#wrap #headbox .headinner h1 a .title_H {
  color: #006DA9;
}

#wrap #headbox .headinner h1 a .title_A {
  color: #FB8145;
}

#wrap #headbox .gnb {
  width: 100%;
  height: 100%;
  margin: auto;
  color: #000;
  font-family: "S-CoreDream-3Light";
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

#wrap #headbox .gnb label {
  width: 20%;
  height: auto;
  text-align: center;
}

#wrap main {
  /* #home */
  /* #introduce */
  /* advantage */
  /* #project */
  /* #contact */
}

#wrap main #home {
  width: 100%;
  height: 92vh;
  display: flex;
  padding: 40px 100px;
}

#wrap main #home .left_span {
  position: relative;
  right: 43%;
  width: 330px;
  rotate: 90deg;
  font-size: 18px;
  font-weight: 300;
}

#wrap main #home .middle_content {
  width: 420px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#wrap main #home .middle_content p:first-child {
  width: 100%;
  margin-top: 20%;
  font-size: 18px;
  font-weight: 600;
  color: #D71C02;
}

#wrap main #home .middle_content .cover_img img {
  width: 335px;
  height: 335px;
  background-color: #eee;
  margin-top: 30px;
}

#wrap main #home .middle_content .blue_H {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 385px;
  left: 410px;
  transform: rotate(-8.67deg);
  background: #006DA9;
}

#wrap main #home .middle_content .orange_A {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 65px solid #FB8145;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: 250px;
  left: 800px;
  transform: rotate(36.306deg);
}

#wrap main #home .middle_content .yellow_O {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 585px;
  left: 760px;
  transform: rotate(36.306deg);
  background-color: #FDD131;
}

#wrap main #home .middle_content p:last-child {
  width: 100%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: 500;
  color: #D71C02;
}

#wrap main #home .right_span {
  position: relative;
  left: 43%;
  bottom: 143px;
  width: 330px;
  rotate: -90deg;
  font-size: 18px;
  font-weight: 600;
  color: #D71C02;
}

#wrap main #introduce {
  width: 100%;
  height: 100%;
  padding: 40px 100px;
}

#wrap main #introduce h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
}

#wrap main #introduce .about_inner {
  width: 100%;
  display: flex;
}

#wrap main #introduce .about_inner .about_left {
  width: 455px;
}

#wrap main #introduce .about_inner .about_left .greeting {
  width: 269px;
  height: 66px;
}

#wrap main #introduce .about_inner .about_left .greeting p {
  font-size: 18px;
  font-weight: 500;
}

#wrap main #introduce .about_inner .about_left .id_picture img {
  width: 232px;
  height: 232px;
  margin-top: 15px;
  border-radius: 50%;
  background-color: #eee;
}

#wrap main #introduce .about_inner .about_left .sort_introduce {
  width: 298px;
  height: 187px;
  margin-top: 30px;
}

#wrap main #introduce .about_inner .about_left .sort_introduce span {
  font-size: 14px;
}

#wrap main #introduce .about_inner .about_midle {
  width: 315px;
}

#wrap main #introduce .about_inner .about_midle article h3 {
  width: auto;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 46px;
}

#wrap main #introduce .about_inner .about_midle .profile h3 {
  margin-top: 90px;
}

#wrap main #introduce .about_inner .about_midle p {
  margin-top: 15px;
  font-size: 14px;
}

#wrap main #introduce .about_inner .about_right {
  width: 310px;
}

#wrap main #introduce .about_inner .about_right .skill {
  margin-top: 90px;
  display: flex;
  justify-content: end;
}

#wrap main #introduce .about_inner .about_right .skill .skill_title {
  width: 66px;
  height: 55px;
  font-size: 14px;
  font-weight: 600;
}

#wrap main #introduce .about_inner .about_right .skill .skill_title span:first-child::after {
  content: '';
  width: 13px;
  margin: 10px 0;
  display: block;
  flex-grow: 1;
  font-size: 0px;
  line-height: 0px;
  border: 1px solid #000;
}

#wrap main #introduce .about_inner .about_right .skill .skillBox {
  display: flex;
  flex-direction: column;
}

#wrap main #introduce .about_inner .about_right .skill .skillBox .skill_inner {
  width: auto;
  display: flex;
  margin: 12px 0;
}

#wrap main #introduce .about_inner .about_right .skill .skillBox .skill_inner p {
  font-size: 14px;
}

#wrap main #introduce .about_inner .about_right .skill .skillBox .skill_inner .checkbox {
  width: 18px;
  height: 18px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  margin-right: 14px;
}

#wrap main #advantage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px 100px;
  z-index: 1;
}

#wrap main #advantage .advantageBox {
  position: relative;
  flex: 1;
  padding: 90px 26px 37px;
  transition: flex 1s, opacity 1s;
  z-index: 1;
  cursor: pointer;
}

#wrap main #advantage .advantageBox:hover {
  flex: 1.5;
  opacity: 1;
  z-index: 2;
}

#wrap main #advantage .advantageBox:hover::before {
  left: 0px;
  opacity: 1;
}

#wrap main #advantage .advantageBox:hover .advantage_inner .advantage_txt {
  width: 75%;
}

#wrap main #advantage .advantageBox:hover .advantage_inner .advantage_txt h2 {
  font-size: 30px;
  padding-top: 0px;
}

#wrap main #advantage .advantageBox:hover .advantage_inner figure {
  height: 25vh;
  filter: saturate(120%);
  transform: translateY(3vh);
}

#wrap main #advantage .advantageBox::before {
  content: "";
  display: block;
  width: 80%;
  height: 95%;
  background: #FDD131;
  position: absolute;
  top: 40px;
  left: -50px;
  opacity: 0;
  transition: 1s;
}

#wrap main #advantage .advantageBox .advantage_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}

#wrap main #advantage .advantageBox .advantage_inner .advantage_txt {
  width: 100%;
  transition: 0.5s;
  margin-bottom: 40px;
}

#wrap main #advantage .advantageBox .advantage_inner .advantage_txt h2 {
  margin-bottom: 40px;
  padding-top: 70px;
  font-size: 30px;
  font-weight: 600;
  color: #D71C02;
  transition: 1s;
}

#wrap main #advantage .advantageBox .advantage_inner .advantage_txt h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #006DA9;
  margin-top: 20px;
  transition: 1.5s;
}

#wrap main #advantage .advantageBox .advantage_inner .advantage_txt p {
  font-size: 18px;
  font-weight: 600;
}

#wrap main #advantage .advantageBox .advantage_inner .advantage_txt p:last-child {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

#wrap main #advantage .advantageBox .advantage_inner figure {
  width: 100%;
  height: 118px;
  background: #777;
  transform-origin: left center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  filter: saturate(10%);
  transition: 1s;
}

#wrap main #advantage .advantageBox .advantage_inner figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

#wrap main #project {
  width: 100%;
  height: auto;
  padding: 40px 100px 0px;
  /* 프로젝트 설명 */
  /* 가이드라인 */
  /* 페이지 설명 */
}

#wrap main #project h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
}

#wrap main #project .project_intro {
  display: flex;
  margin-top: 32px;
  padding: 40px 0;
  gap: 88px;
}

#wrap main #project .project_intro .intro_txt {
  width: 350px;
}

#wrap main #project .project_intro .intro_txt h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#wrap main #project .project_intro .intro_txt .sub_txt {
  font-size: 14px;
  text-align: center;
}

#wrap main #project .project_intro .intro_txt .detail {
  display: flex;
  gap: 36px;
  margin-top: 50px;
}

#wrap main #project .project_intro .intro_txt .detail .subtitle p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

#wrap main #project .project_intro .intro_txt .detail .intro_content p {
  font-size: 14px;
  line-height: 30px;
}

#wrap main #project .project_intro .intro_txt .project_explanation {
  width: 325px;
  height: 197px;
  margin-top: 50px;
  background-color: #eee;
}

#wrap main #project .project_intro .mokup {
  width: 632px;
  height: 483px;
  background-color: #eee;
}

#wrap main #project .guide {
  width: 100%;
  height: auto;
  padding: 40px 0;
}

#wrap main #project .guide h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#wrap main #project .guide .guide_content {
  display: flex;
  gap: 54px;
}

#wrap main #project .guide .guide_content h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .guide .guide_content .color_part {
  width: 324px;
  height: 482px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #eee;
}

#wrap main #project .guide .guide_content .color_part h4 {
  height: 130px;
}

#wrap main #project .guide .font_part {
  width: 324px;
  height: 482px;
  margin-top: 30px;
  background-color: #eee;
}

#wrap main #project .guide .icon_part {
  width: 324px;
  height: 482px;
  margin-top: 30px;
  background-color: #eee;
}

#wrap main #project .pagever_intro {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

#wrap main #project .pagever_intro h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

#wrap main #project .pagever_intro .mokup_img {
  width: 526px;
  height: 960px;
  margin-top: 36px;
  background-color: #eee;
}

#wrap main #project .pagever_intro .page_explanation::after {
  content: '';
  width: 173px;
  margin: 10px 0;
  position: relative;
  bottom: 800px;
  left: 497px;
  display: block;
  flex-grow: 1;
  font-size: 0px;
  line-height: 0px;
  border: 1px solid #006DA9;
}

#wrap main #contact {
  width: 100%;
  height: 600px;
  padding: 40px 100px;
  background-color: #fffffc;
}

#wrap main #contact h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
}

#wrap main #contact .img_container {
  width: 100%;
  margin: auto;
  justify-content: center;
  display: flex;
}

#wrap main #contact .img_container img {
  width: 240px;
  height: 240px;
  margin: auto;
}

#wrap main #contact p {
  width: 100%;
  height: 36px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #D71C02;
  text-transform: capitalize;
}

#wrap main #contact .personal_data p:first-child {
  width: 100%;
  height: 18px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

#wrap main #contact .personal_data a {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
}

#wrap #footBox {
  width: 100%;
  position: sticky;
  bottom: 0px;
  z-index: 51;
}

#wrap #footBox .footinner {
  background-color: white;
  border-top: 1px solid #e5e5e5;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  position: relative;
  text-align: center;
  width: 100%;
}

#wrap #footBox .footinner .fnb_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
}

#wrap #footBox .footinner .fnb_container h1 {
  width: auto;
  height: 100%;
  line-height: 36px;
  font-family: 'Black-Han-Sans';
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 9px;
}

#wrap #footBox .footinner .fnb_container .verical_divider {
  background-color: #e1e1e1;
  flex-grow: 0;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
}

#wrap #footBox .footinner .fnb_container .fnb {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 36px;
  justify-content: flex-start;
  width: 100%;
  font-size: 11px;
  font-weight: 500;
}

#wrap #footBox .footinner .fnb_container .fnb label {
  width: 10%;
  height: auto;
  text-align: center;
}

#wrap #footBox .footinner .fnb_container .link_btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 36px;
  justify-content: flex-end;
  width: 100%;
  font-size: 11px;
  gap: 20px;
}

#wrap #footBox .footinner .fnb_container .link_btn a {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-weight: 500;
}

#wrap #footBox .footinner .fnb_container .link_btn .resume_btn {
  background-color: #FDD131;
  border-radius: 10px;
}

#wrap #footBox .footinner .fnb_container .link_btn .github_btn {
  background-color: #006DA9;
  color: #fff;
  border-radius: 10px;
}

#wrap #footBox .footinner .fnb_container .link_btn .notion_btn {
  background-color: #FB8145;
  border-radius: 10px;
}
