@charset "UTF-8";
/* portfolio2.css */
/* fonts.css */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Black Han Sans', sans-serif;
  src: url("../../font/Black_Han_Sans/BlackHanSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  cursor: url(../../img/cursor.svg) 5 5, progress;
}

/* #wrap - 전체 레이아웃 설정 */
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: #fff;
  font-family: "S-Core_Dream_OTF";
  font-weight: 300;
  /* #headbox */
  /* --- #headBox */
  /* main */
  /* --- #main */
  /* #footBox */
  /* #footBox */
}

#wrap #headbox {
  width: 100%;
  height: 70px;
  line-height: 30px;
  padding: 20px 100px;
  position: sticky;
  display: flex;
  top: 0;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1000;
  /* .headinner */
  /*  --- .headinner */
  /* .gnb */
  /* --- .gnb */
}

#wrap #headbox .headinner {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  /* logo */
  /* --- h1 */
}

#wrap #headbox .headinner h1 {
  width: auto;
  height: 100%;
  /* --- a */
}

#wrap #headbox .headinner h1 a {
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 9px;
}

#wrap #headbox .headinner h1 a .title_O {
  color: #FDD131;
}

#wrap #headbox .headinner h1 a .title_H {
  color: #006DA9;
}

#wrap #headbox .headinner h1 a .title_A {
  color: #FB8145;
}

#wrap #headbox .gnb {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "S-CoreDream-3Light";
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}

#wrap #headbox .gnb label {
  width: 20%;
  height: auto;
  text-align: center;
}

#wrap #headbox .gnb label:hover {
  color: #D71C02;
  font-weight: 600;
}

#wrap main {
  /* #home */
  /* --- #home */
  /* #introduce */
  /* --- #introduce */
  /* advantage */
  /* --- #advantage */
  /* #project */
  /* #project */
  /* #contact */
  /* --- #contact */
}

#wrap main #home {
  width: 100%;
  height: 92vh;
  display: flex;
  padding: 40px 100px;
  /* --- .middle_content */
  /* .right_span */
  /* --- .right_span */
}

#wrap main #home .left_span {
  width: 338px;
  height: 40px;
  position: relative;
  right: 13.8%;
  top: 298px;
  rotate: 90deg;
  display: inline-block;
  text-align: center;
  line-height: 62px;
  flex-shrink: 0;
}

#wrap main #home .middle_content {
  width: 420px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#wrap main #home .middle_content p:first-child {
  width: 100%;
  margin-top: 20%;
  font-size: 18px;
  font-weight: 600;
  color: #D71C02;
}

#wrap main #home .middle_content .cover_img {
  margin-top: 30px;
}

#wrap main #home .middle_content .coverImgInner {
  width: 335px;
  height: 322px;
  background-image: url(../../img/coverImg.JPG);
  background-size: 100% 100%;
  display: inline-block;
}

#wrap main #home .middle_content .blue_H {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 385px;
  left: 410px;
  transform: rotate(-8.67deg);
  background: #006DA9;
}

#wrap main #home .middle_content .orange_A {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 65px solid #FB8145;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: 250px;
  left: 800px;
  transform: rotate(36.306deg);
}

#wrap main #home .middle_content .yellow_O {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 585px;
  left: 760px;
  transform: rotate(36.306deg);
  background-color: #FDD131;
}

#wrap main #home .middle_content p:last-child {
  width: 100%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: 500;
  color: #D71C02;
}

#wrap main #home .right_span {
  width: 338px;
  height: 40px;
  position: relative;
  left: 13.8%;
  top: 298px;
  display: inline-block;
  transform: rotate(-90deg);
  text-align: center;
  line-height: 60px;
}

#wrap main #home .right_span span {
  color: #D71C02;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#wrap main #introduce {
  width: 100%;
  height: 100%;
  padding: 40px 100px;
  /* .about_inner */
  /* --- .about_inner */
}

#wrap main #introduce h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
}

#wrap main #introduce .about_inner {
  width: 100%;
  display: flex;
  /* --- .about_left */
  /* .about_midle */
  /* --- .about_midle */
  /* .about_right */
  /* --- .about_right */
}

#wrap main #introduce .about_inner .about_left {
  width: 455px;
  /* --- .greeting */
  /* .id_picture */
  /* --- .sort_introduce */
}

#wrap main #introduce .about_inner .about_left .greeting {
  width: 269px;
  height: 66px;
}

#wrap main #introduce .about_inner .about_left .greeting p {
  font-size: 18px;
  font-weight: 500;
}

#wrap main #introduce .about_inner .about_left .id_picture {
  width: 232px;
  height: 232px;
  margin-top: 15px;
  border-radius: 50%;
  background-image: url(../../img/introduceImg.JPG);
  background-size: 246px 300px;
}

#wrap main #introduce .about_inner .about_left .sort_introduce {
  width: 298px;
  height: 187px;
  margin-top: 30px;
}

#wrap main #introduce .about_inner .about_left .sort_introduce span {
  font-size: 14px;
}

#wrap main #introduce .about_inner .about_midle {
  width: 315px;
}

#wrap main #introduce .about_inner .about_midle article h3 {
  width: auto;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 46px;
}

#wrap main #introduce .about_inner .about_midle .profile h3 {
  margin-top: 90px;
}

#wrap main #introduce .about_inner .about_midle p {
  margin-top: 15px;
  line-height: 22px;
  font-size: 14px;
}

#wrap main #introduce .about_inner .about_right {
  width: 310px;
  /* --- .skill */
}

#wrap main #introduce .about_inner .about_right .skill {
  margin-top: 90px;
  display: flex;
  justify-content: end;
  /* .skillBox */
  /* --- .skillBox */
}

#wrap main #introduce .about_inner .about_right .skill .skill_title {
  width: 66px;
  height: 55px;
  font-size: 14px;
  font-weight: 600;
}

#wrap main #introduce .about_inner .about_right .skill .skill_title span:first-child::after {
  content: '';
  width: 13px;
  margin: 10px 0;
  display: block;
  flex-grow: 1;
  font-size: 0px;
  line-height: 0px;
  border: 1px solid #000;
}

#wrap main #introduce .about_inner .about_right .skill .skillBox {
  display: flex;
  flex-direction: column;
  /* --- .skill_inner */
}

#wrap main #introduce .about_inner .about_right .skill .skillBox .skill_inner {
  width: auto;
  display: flex;
  margin: 12px 0;
}

#wrap main #introduce .about_inner .about_right .skill .skillBox .skill_inner p {
  font-size: 14px;
}

#wrap main #introduce .about_inner .about_right .skill .skillBox .skill_inner .checkbox {
  width: 18px;
  height: 18px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  margin-right: 14px;
}

#wrap main #advantage {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  padding: 40px 100px;
  z-index: 1;
  /* --- .advantage_txt */
  /* .advantage_inner */
  /* --- .advantage_inner */
}

#wrap main #advantage .advantageBox {
  position: relative;
  flex: 1;
  padding: 90px 26px 37px;
  opacity: 0.6;
  transition: flex 1s, opacity 1s;
  z-index: 1;
  cursor: pointer;
}

#wrap main #advantage .advantageBox:hover {
  flex: 1.5;
  opacity: 1;
  z-index: 2;
}

#wrap main #advantage .advantageBox:hover::before {
  left: 0px;
  opacity: 1;
}

#wrap main #advantage .advantageBox:hover .advantage_inner .advantage_txt {
  width: 75%;
}

#wrap main #advantage .advantageBox:hover .advantage_inner .advantage_txt h2 {
  font-size: 5vw;
  padding-top: 0px;
}

#wrap main #advantage .advantageBox:hover .advantage_inner .advantage_txt h2::after {
  width: 120px;
  background: #006DA9;
  height: 3px;
}

#wrap main #advantage .advantageBox:hover .advantage_inner figure {
  height: 25vh;
  filter: saturate(120%);
  transform: translateY(3vh);
}

#wrap main #advantage .advantageBox::before {
  content: "";
  display: block;
  width: 80%;
  height: 95%;
  background: #FDD131;
  position: absolute;
  top: 40px;
  left: -50px;
  opacity: 0;
  transition: 1s;
}

#wrap main #advantage .advantage_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
  /* --- .advantage_txt */
  /* figure */
  /* --- figure */
}

#wrap main #advantage .advantage_inner .advantage_txt {
  width: 100%;
  transition: 0.5s;
  margin-bottom: 40px;
}

#wrap main #advantage .advantage_inner .advantage_txt h2 {
  margin-bottom: 40px;
  padding-top: 70px;
  font-size: 30px;
  font-weight: 600;
  color: #D71C02;
  transition: 1s;
}

#wrap main #advantage .advantage_inner .advantage_txt h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #777;
  margin-top: 20px;
  transition: 1.5s;
}

#wrap main #advantage .advantage_inner .advantage_txt p {
  font-size: 18px;
  font-weight: 600;
}

#wrap main #advantage .advantage_inner .advantage_txt p:last-child {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

#wrap main #advantage .advantage_inner figure {
  width: 100%;
  height: 118px;
  background: #777;
  transform-origin: left center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  filter: saturate(10%);
  transition: 1s;
}

#wrap main #advantage .advantage_inner figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrap main #project {
  width: 100%;
  height: auto;
  padding-top: 40px;
  /* --- .portfolio_content - 포트폴리오 프로젝트 설명 */
  /* .kiki_content - 마녀배달부키키 프로젝트 설명 */
  /* --- .kiki_content */
  /* .guide */
  /* --- .guide */
  /* .color_part */
  /* --- .color_part */
  /* .point_part */
  /* --- .point_part */
  /* .pointFontSize */
  /* --- .pointFontSize */
  /* .pagever_intro */
  /* --- .pagever_intro */
}

#wrap main #project h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
  padding: 0 100px;
}

#wrap main #project .portfolio_content {
  margin-top: 32px;
  padding: 40px 100px 0;
  /* 프로젝트 설명 */
  /* --- project_intro - 프로젝트 설명 */
  /* .guide - 가이드라인 */
  /* --- .guide - 가이드라인부분 */
  /* .pagever_intro - 사이트 주기능 설명 */
  /* --- pagever_intro - 사이트 주기능 설명 */
}

#wrap main #project .portfolio_content .project_intro {
  display: flex;
  gap: 88px;
  /* --- .mockup */
}

#wrap main #project .portfolio_content .project_intro .intro_txt {
  width: 350px;
}

#wrap main #project .portfolio_content .project_intro .intro_txt h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#wrap main #project .portfolio_content .project_intro .intro_txt .sub_txt {
  font-size: 14px;
  text-align: center;
}

#wrap main #project .portfolio_content .project_intro .intro_txt .detail {
  display: flex;
  gap: 36px;
  margin-top: 50px;
}

#wrap main #project .portfolio_content .project_intro .intro_txt .detail .subtitle p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

#wrap main #project .portfolio_content .project_intro .intro_txt .detail .intro_content p {
  font-size: 14px;
  line-height: 30px;
}

#wrap main #project .portfolio_content .project_intro .intro_txt .project_explanation {
  width: 350px;
  height: 197px;
  margin-top: 50px;
}

#wrap main #project .portfolio_content .project_intro .intro_txt .project_explanation p {
  font-size: 14px;
  line-height: 25px;
}

#wrap main #project .portfolio_content .project_intro .mockup {
  width: 632px;
  height: 483px;
}

#wrap main #project .portfolio_content .project_intro .mockup img {
  width: 100%;
}

#wrap main #project .portfolio_content .guide {
  width: 100%;
  height: auto;
  padding: 40px 0;
  /* .guide_content -포트폴리오 프로젝트 설명 */
  /* --- .port_content - 포트폴리오 프로젝트 설명 */
}

#wrap main #project .portfolio_content .guide h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#wrap main #project .portfolio_content .guide .guide_content {
  display: flex;
  gap: 44px;
  /* --- .logo_part - 로고 가이드라인 */
  /* .font_part */
  /* --- .font_part - 폰트 설명  */
  /* color_part  - 가이드라인 color부분 */
  /* --- color_part  - 가이드라인 color부분 */
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part {
  width: 350px;
  height: auto;
  margin-top: 30px;
  flex-direction: column;
  margin-left: 15px;
  /* --- .logo */
  /* .logo_font */
  /* --- .logo_font */
  /* --- .font_color - 폰트 색상 */
  /* .fontColorExp */
  /* --- .fontColorExp */
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo {
  margin-top: 22px;
  margin-left: 5px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo span {
  font-weight: 300;
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 9px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo .title_O {
  color: #FDD131;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo .title_H {
  color: #006DA9;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo .title_A {
  color: #FB8145;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo p {
  margin-top: 10px;
  font-size: 14px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 94px;
  margin-left: 5px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font {
  width: 340px;
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  gap: 14px;
  /* --- .logoFontEx - 폰트 예시 이미지 */
  /* .fontExp */
  /* --- .fontExp = 글꼴 설명 */
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx {
  width: 112px;
  height: 156px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  /* --- .font_name - 폰트명 */
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx span {
  width: 100%;
  height: 104px;
  display: block;
  font-family: "Black Han Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 104px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx .font_name p:last-child {
  font-size: 12px;
  font-weight: 300;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .fontExp {
  width: 214px;
  height: auto;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .fontExp .explanation {
  font-size: 14px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .logo_font .fontExp .explanation:nth-last-child(-n+2) {
  font-size: 14px;
  margin-top: 12px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .colorSubTilte {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin: 55px 0 20px 5px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .font_color {
  width: 100%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  /* .color_list */
  /* --- .color_list */
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .font_color .color_list {
  display: flex;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .font_color .color_list .list_yellow {
  width: 22px;
  height: 22px;
  margin-right: 14px;
  border-radius: 50%;
  background: #FDD131;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .font_color .color_list .list_bule {
  width: 22px;
  height: 22px;
  margin-right: 14px;
  background: #006DA9;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .font_color .color_list .list_orange {
  width: 0px;
  height: 0px;
  border-bottom: 22px solid #FB8145;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .fontColorExp {
  margin-top: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .fontColorExp p {
  font-size: 14px;
}

#wrap main #project .portfolio_content .guide .guide_content .logo_part .fontColorExp p:last-child {
  margin-top: 12px;
  font-size: 14px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part {
  width: 328px;
  height: 482px;
  margin-top: 30px;
  /* .font_ex */
  /* 폰트 사이즈 가이드라인 */
  /* .font_size - 폰트 사이즈 가이드라인 */
  /* --- .fontSize32 */
  /* --- .fontSize11 */
}

#wrap main #project .portfolio_content .guide .guide_content .font_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 18px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex {
  margin-top: 18px;
  display: flex;
  gap: 18px;
  /* .font_name */
  /* .font_regular */
  /* .font_medium */
  /* .font_bold */
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 76px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_name p:last-child {
  font-size: 12px;
  font-weight: 300;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_regular {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_medium {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_medium span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 76px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_bold {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_ex .font_bold span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 76px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size {
  margin-top: 15px;
  /* .fontSize30 */
  /* .fontSize20 */
  /* .fontSize18 */
  /* .fontSize16 */
  /* .fontSize14 */
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size span {
  font-size: 14px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .small_exp {
  margin-top: 20px;
  font-size: 11px;
  text-align: right;
  color: #888;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize30 {
  margin-top: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize30 p {
  font-size: 30px;
  letter-spacing: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize20 {
  margin-top: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize20 p {
  font-size: 20px;
  letter-spacing: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize18 {
  margin-top: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize18 p {
  font-size: 18px;
  letter-spacing: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize16 {
  margin-top: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize16 p {
  font-size: 16px;
  letter-spacing: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize14 {
  margin-top: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .font_size .fontSize14 p {
  font-size: 14px;
  letter-spacing: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .fontSize32 p {
  font-size: 32px;
  letter-spacing: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .fontSize11 {
  margin-top: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .font_part .fontSize11 p {
  font-size: 11px;
  letter-spacing: 10px;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part {
  width: 300px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* --- .color_content - 사용한 색상 가이드라인 */
  /* .button_color */
  /* --- .button_color */
}

#wrap main #project .portfolio_content .guide .guide_content .color_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content {
  width: 300px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* .icon_color */
  /* --- .icon_color */
  /* .bottom_color */
  /* --- .bottom_color */
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .colorSubTitle {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content span {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .icon_color {
  margin-top: 18px;
  display: flex;
  gap: 50px;
  /* --- .icon_yellow */
  /* .icon_bule */
  /* --- .icon_bule */
  /* .icon_orange */
  /* --- .icon_orange */
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_yellow {
  display: flex;
  flex-direction: column;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_yellow .yellow_shapes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FDD131;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_bule {
  display: flex;
  flex-direction: column;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_bule .bule_shapes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #006DA9;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_orange {
  display: flex;
  flex-direction: column;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_orange .orange_shapes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FB8145;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color {
  margin-top: 30px;
  display: flex;
  gap: 24px;
  /* --- .point_color */
  /* .background_color */
  /* --- .background_color */
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .point_color {
  display: flex;
  flex-direction: column;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .point_color .icon_red {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #D71C02;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .background_color {
  display: flex;
  flex-direction: column;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .background_color .icon_white {
  width: 60px;
  height: 60px;
  margin-left: 8.77px;
  margin-top: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  background-color: #fffffc;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .background_color .backgroundColorTxt {
  text-align-last: left;
  margin-left: 8.77px;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
  /* .button_content */
  /* --- .button_content */
  /* .button_hover - 버튼 마우스 오버 시 색상 및 굵기 */
  /* --- .button_hover */
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_content {
  width: 294px;
  display: flex;
  margin-left: 5px;
  gap: 18px;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_content .resume_btn {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: #FDD131;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_content .github_btn {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: #006DA9;
  color: #fff;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_content .notion_btn {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: #FB8145;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover {
  display: flex;
  margin-left: 5px;
  gap: 30px;
  /* .nomal_part */
  /* --- .nomal_part */
  /* .hover_part */
  /* --- .hover_part */
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover span {
  font-size: 36px;
  font-weight: 300;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover p {
  font-size: 14px;
  font-weight: 300;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .nomal_part .nomal_ex {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .hover_part {
  /* --- .hover_ex */
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .hover_part .hover_ex {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .hover_part .hover_ex span {
  font-weight: 500;
  color: #D71C02;
}

#wrap main #project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .hover_part .hover_ex p {
  color: #D71C02;
}

#wrap main #project .portfolio_content .pagever_intro {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

#wrap main #project .portfolio_content .pagever_intro h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#wrap main #project .portfolio_content .pagever_intro .portfolio_mockup {
  width: 526px;
  height: 960px;
  margin-top: 36px;
  background-image: url(../../img/portfolio_capture.png);
  background-size: 100% 100%;
}

#wrap main #project .portfolio_content .pagever_intro .page_explanation .arrowLineBlue svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 150px;
  left: 410px;
}

#wrap main #project .portfolio_content .pagever_intro .page_explanation .arrowLineYellow svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 450px;
  left: 358px;
}

#wrap main #project .portfolio_content .pagever_intro .page_explanation .arrowLineOrenge svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 650px;
  left: 397px;
}

#wrap main #project .kiki_content {
  background-color: #A5C2D3;
  padding: 92px 100px 0;
  /* .project_intro */
}

#wrap main #project .kiki_content .project_intro {
  display: flex;
  gap: 88px;
  /* .mockup */
  /* --- .mockup */
}

#wrap main #project .kiki_content .project_intro .mockup {
  width: 632px;
  height: 483px;
}

#wrap main #project .kiki_content .project_intro .mockup img {
  width: 100%;
}

#wrap main #project .kiki_content .project_intro .intro_txt {
  width: 350px;
}

#wrap main #project .kiki_content .project_intro .intro_txt h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#wrap main #project .kiki_content .project_intro .intro_txt .sub_txt {
  font-size: 14px;
  text-align: center;
}

#wrap main #project .kiki_content .project_intro .intro_txt .detail {
  display: flex;
  gap: 36px;
  margin-top: 50px;
}

#wrap main #project .kiki_content .project_intro .intro_txt .detail .subtitle p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

#wrap main #project .kiki_content .project_intro .intro_txt .detail .intro_content p {
  font-size: 14px;
  line-height: 30px;
}

#wrap main #project .kiki_content .project_intro .intro_txt .project_explanation {
  width: 350px;
  height: 197px;
  margin-top: 50px;
}

#wrap main #project .kiki_content .project_intro .intro_txt .project_explanation p {
  font-size: 14px;
  line-height: 25px;
}

#wrap main #project .guide {
  width: 100%;
  height: auto;
  padding: 40px 0;
  color: #0A4B41;
  /* .guide_content */
  /* --- .guide_content */
  /* .font_part */
  /* --- .font_part */
}

#wrap main #project .guide h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#wrap main #project .guide .guide_content {
  display: flex;
  gap: 44px;
  /* .logo_part */
  /* --- .logo_part */
}

#wrap main #project .guide .guide_content .logo_part {
  width: 350px;
  height: auto;
  margin-top: 30px;
  flex-direction: column;
  margin-left: 15px;
  /* .logo */
  /* --- .logo */
  /* .button_box */
  /* --- .button_box */
}

#wrap main #project .guide .guide_content .logo_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .guide .guide_content .logo_part .logo {
  margin-top: 22px;
  margin-left: 5px;
}

#wrap main #project .guide .guide_content .logo_part .logo img {
  width: 118px;
  height: 22px;
}

#wrap main #project .guide .guide_content .logo_part .logo p {
  margin-top: 10px;
  font-size: 14px;
}

#wrap main #project .guide .guide_content .logo_part .logo p:last-child {
  font-size: 11px;
  color: #888;
}

#wrap main #project .guide .guide_content .logo_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 24px;
  margin-left: 5px;
}

#wrap main #project .guide .guide_content .logo_part .button_box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;
  /* .button_content */
  /* --- .button_content */
}

#wrap main #project .guide .guide_content .logo_part .button_box .button_content {
  width: 78px;
  height: 96px;
  border: 1.5px solid #0A4B41;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  /* .font_name */
  /* --- .font_name */
}

#wrap main #project .guide .guide_content .logo_part .button_box .button_content img {
  width: 100%;
  height: 60px;
}

#wrap main #project .guide .guide_content .logo_part .button_box .button_content .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  padding: 3px 0;
}

#wrap main #project .guide .guide_content .logo_part .button_box .button_content .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#wrap main #project .guide .guide_content .logo_part .button_box .button_content .font_name p {
  font-size: 12px;
  text-align: center;
  line-height: 27px;
}

#wrap main #project .guide .guide_content .logo_part .cursor_box {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

#wrap main #project .guide .guide_content .logo_part .cursor_box p {
  font-size: 14px;
}

#wrap main #project .guide .font_part {
  width: 328px;
  height: 482px;
  margin-top: 30px;
  /* .font_ex */
  /* 폰트 사이즈 가이드라인 */
  /* --- .fontSize96 */
  /* --- .fontSize12 */
}

#wrap main #project .guide .font_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .guide .font_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 18px;
}

#wrap main #project .guide .font_part .font_ex {
  margin-top: 18px;
  display: flex;
  gap: 18px;
  /* .font_name */
  /* .font_regular */
  /* .font_medium */
  /* .font_bold */
}

#wrap main #project .guide .font_part .font_ex span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 76px;
}

#wrap main #project .guide .font_part .font_ex .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
}

#wrap main #project .guide .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#wrap main #project .guide .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#wrap main #project .guide .font_part .font_ex .font_name p:last-child {
  font-size: 12px;
  font-weight: 300;
}

#wrap main #project .guide .font_part .font_ex .font_regular {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .guide .font_part .font_ex .font_medium {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .guide .font_part .font_ex .font_medium span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 76px;
}

#wrap main #project .guide .font_part .font_ex .font_bold {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#wrap main #project .guide .font_part .font_ex .font_bold span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 76px;
}

#wrap main #project .guide .font_part .font_size {
  margin-top: 15px;
  /* .fontSize30 */
  /* .fontSize20 */
  /* .fontSize18 */
  /* .fontSize16 */
  /* .fontSize14 */
}

#wrap main #project .guide .font_part .font_size span {
  font-size: 14px;
}

#wrap main #project .guide .font_part .font_size .small_exp {
  margin-top: 20px;
  font-size: 11px;
  text-align: right;
  color: #888;
}

#wrap main #project .guide .font_part .font_size .fontSize30 {
  margin-top: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize30 p {
  font-size: 30px;
  letter-spacing: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize20 {
  margin-top: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize20 p {
  font-size: 20px;
  letter-spacing: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize18 {
  margin-top: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize18 p {
  font-size: 18px;
  letter-spacing: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize16 {
  margin-top: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize16 p {
  font-size: 16px;
  letter-spacing: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize14 {
  margin-top: 10px;
}

#wrap main #project .guide .font_part .font_size .fontSize14 p {
  font-size: 14px;
  letter-spacing: 10px;
}

#wrap main #project .guide .font_part .font_regular, #wrap main #project .guide .font_part .font_medium, #wrap main #project .guide .font_part .font_bold {
  background-color: #fff;
}

#wrap main #project .guide .font_part .fontSize96 p {
  font-size: 44px;
  letter-spacing: 10px;
}

#wrap main #project .guide .font_part .fontSize12 p {
  font-size: 12px;
  letter-spacing: 10px;
}

#wrap main #project .color_part {
  width: 300px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* .back_color */
  /* --- .back_color */
}

#wrap main #project .color_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .color_part .colorSubTitle {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 18px;
  margin-left: 5px;
}

#wrap main #project .color_part .back_color {
  display: flex;
  margin-top: 18px;
  margin-left: 5px;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 20px;
  /* .back_content */
  /* --- .back_content */
}

#wrap main #project .color_part .back_color span {
  width: 100%;
  height: 34px;
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 31px;
}

#wrap main #project .color_part .back_color .back_content {
  width: 76px;
  height: 104px;
  border: 1.5px solid #888;
  border-radius: 4px;
  background-color: #fff;
}

#wrap main #project .color_part .back_color .back_content .green_shapes {
  width: 73px;
  height: 72px;
  background-color: #0a4b41;
}

#wrap main #project .color_part .back_color .back_content .blue_shapes {
  width: 73px;
  height: 72px;
  background-color: #1145a2;
}

#wrap main #project .color_part .back_color .back_content .bagie_shapes {
  width: 73px;
  height: 72px;
  background-color: #d7dac7;
}

#wrap main #project .color_part .back_color .back_content .black_shapes {
  width: 73px;
  height: 72px;
  background-color: #000000;
}

#wrap main #project .color_part .back_color .back_content .skyBule_shapes {
  width: 73px;
  height: 72px;
  background-color: #b7cae8;
}

#wrap main #project .color_part .back_color .back_content .purple_shapes {
  width: 73px;
  height: 72px;
  background-color: #4f4259;
}

#wrap main #project .point_part {
  margin-top: 30px;
  /* .kikiPointColor */
  /* --- .font_bold */
}

#wrap main #project .point_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#wrap main #project .point_part .kikiPointColor {
  display: flex;
  gap: 32px;
  margin-top: 18px;
  margin-left: 5px;
  /* .kikiPointContent */
  /* --- .kikiPointContent */
  /* .kikiPointfont */
  /* --- .kikiPointfont */
}

#wrap main #project .point_part .kikiPointColor .kikiPointContent {
  display: flex;
  flex-direction: column;
  /* .back_red */
  /* --- .back_red */
}

#wrap main #project .point_part .kikiPointColor .kikiPointContent .colorSubTitle {
  margin-top: 0px;
  margin-left: 0px;
}

#wrap main #project .point_part .kikiPointColor .kikiPointContent .back_red {
  width: 76px;
  height: 104px;
  border: 1.5px solid #888;
  border-radius: 4px;
  background-color: #fff;
  margin: auto;
  margin-top: 10px;
}

#wrap main #project .point_part .kikiPointColor .kikiPointContent .back_red span {
  width: 100%;
  height: 34px;
  display: block;
  font-size: 14px;
  text-align: center;
  line-height: 31px;
  text-transform: uppercase;
}

#wrap main #project .point_part .kikiPointColor .kikiPointContent .back_red .red_shapes {
  width: 73px;
  height: 72px;
  background-color: #d71e15;
}

#wrap main #project .point_part .kikiPointColor .kikiPointfont {
  display: flex;
  flex-direction: column;
  /* --- .font_bold */
}

#wrap main #project .point_part .kikiPointColor .kikiPointfont .colorSubTitle {
  margin-top: 0px;
  margin-left: 0px;
}

#wrap main #project .point_part .kikiPointColor .kikiPointfont .font_bold {
  width: 84px;
  height: 104px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  background-color: #fff;
  /* .font_name */
  /* --- .font_name */
}

#wrap main #project .point_part .kikiPointColor .kikiPointfont .font_bold span {
  width: 100%;
  height: 66px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 68px;
}

#wrap main #project .point_part .kikiPointColor .kikiPointfont .font_bold .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
  height: auto;
  padding: 2px 4px;
}

#wrap main #project .point_part .kikiPointColor .kikiPointfont .font_bold .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#wrap main #project .point_part .kikiPointColor .kikiPointfont .font_bold .font_name p {
  font-size: 12px;
}

#wrap main #project .pointFontSize {
  margin-top: 15px;
  margin-left: 5px;
}

#wrap main #project .pointFontSize span {
  font-size: 14px;
}

#wrap main #project .pointFontSize p {
  font-size: 32px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#wrap main #project .pagever_intro {
  width: 100%;
  height: auto;
  padding-top: 40px;
  /* .pagever_content */
  /* --- .pagever_content */
}

#wrap main #project .pagever_intro h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#wrap main #project .pagever_intro .pagever_content {
  display: flex;
  gap: 30px;
  margin-top: 36px;
  /* --- .page_explanation */
}

#wrap main #project .pagever_intro .pagever_content .kiki_mockup {
  width: 526px;
  height: 960px;
  background-color: #eee;
}

#wrap main #project .pagever_intro .pagever_content .page_explanation {
  width: 524px;
  background-color: #eee;
}

#wrap main #project .pagever_intro .pagever_content .page_explanation .arrowLineRed {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 150px;
  right: 110px;
}

#wrap main #project .pagever_intro .pagever_content .page_explanation .arrowLineIndigo {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 450px;
  right: 140px;
}

#wrap main #project .pagever_intro .pagever_content .page_explanation .arrowLineGreen {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 650px;
  right: 100px;
}

#wrap main #contact {
  width: 100%;
  height: 600px;
  padding: 40px 100px;
  background-color: #fffffc;
  /* --- img_container */
  /* .personal_data */
  /* --- .personal_data */
}

#wrap main #contact h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
}

#wrap main #contact .img_container {
  width: 240px;
  height: 240px;
  margin: auto;
  justify-content: center;
  display: flex;
  background-image: url(../../img/endingImg.JPG);
  background-size: 100% 100%;
}

#wrap main #contact p {
  width: 100%;
  height: 36px;
  margin-top: 35px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #D71C02;
  text-transform: capitalize;
}

#wrap main #contact .personal_data {
  /* p:first-child */
  /* --- a */
}

#wrap main #contact .personal_data p:first-child {
  width: 100%;
  height: 18px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

#wrap main #contact .personal_data a {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
}

#wrap #footBox {
  width: 100%;
  position: sticky;
  bottom: 0px;
  z-index: 51;
  /* .footinner */
  /* .footinner */
}

#wrap #footBox .footinner {
  background-color: white;
  border-top: 1px solid #e5e5e5;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  position: relative;
  text-align: center;
  width: 100%;
  /* .fnb_container */
  /* .fnb_container */
}

#wrap #footBox .footinner .fnb_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
  /* h1 */
  /* .verical_divider */
  /* .fnb */
  /* .fnb */
  /* .link_btn */
  /* .link_btn */
}

#wrap #footBox .footinner .fnb_container h1 {
  width: auto;
  height: 100%;
  line-height: 36px;
  font-family: 'Black-Han-Sans';
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 9px;
}

#wrap #footBox .footinner .fnb_container .verical_divider {
  background-color: #e1e1e1;
  flex-grow: 0;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
}

#wrap #footBox .footinner .fnb_container .fnb {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 11px;
  font-weight: 500;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}

#wrap #footBox .footinner .fnb_container .fnb label {
  width: 10%;
  height: auto;
  text-align: center;
}

#wrap #footBox .footinner .fnb_container .fnb label:hover {
  color: #D71C02;
  font-weight: 600;
}

#wrap #footBox .footinner .fnb_container .link_btn {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 11px;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-box-pack: end;
}

#wrap #footBox .footinner .fnb_container .link_btn a {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-weight: 500;
}

#wrap #footBox .footinner .fnb_container .link_btn .resume_btn {
  background-color: #FDD131;
  border-radius: 10px;
}

#wrap #footBox .footinner .fnb_container .link_btn .github_btn {
  background-color: #006DA9;
  color: #fff;
  border-radius: 10px;
}

#wrap #footBox .footinner .fnb_container .link_btn .notion_btn {
  background-color: #FB8145;
  border-radius: 10px;
}

/* #wrap */
