@charset "UTF-8";
/* portfolio2.css */
/* fonts.css */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Black Han Sans';
  src: url("../../font/Black_Han_Sans/BlackHanSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  cursor: url(../../img/cursor.svg) 5 5, progress;
}

/* #wrap - 전체 레이아웃 설정 */
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: #fff;
  font-family: "S-Core_Dream_OTF";
  font-weight: 300;
}

#headbox {
  width: 100%;
  height: 70px;
  line-height: 30px;
  padding: 20px 100px;
  position: sticky;
  display: flex;
  top: 0;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1000;
}

.headinner {
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  /* logo */
}

.headinner h1 {
  width: auto;
  height: 100%;
}

.headinner h1 a {
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 9px;
}

.title_O {
  color: #FDD131;
}

.title_H {
  color: #006DA9;
}

.title_A {
  color: #FB8145;
}

.gnb {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "S-CoreDream-3Light";
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
}

.gnb label {
  width: 20%;
  height: auto;
  text-align: center;
}

.gnb label:hover {
  color: #D71C02;
  font-weight: 600;
}

#home {
  width: 100%;
  height: 92vh;
  display: flex;
  padding: 40px 100px;
}

.left_span {
  width: 338px;
  height: 40px;
  position: relative;
  right: 13.8%;
  top: 298px;
  transform: rotate(90deg);
  display: inline-block;
  text-align: center;
  line-height: 62px;
  flex-shrink: 0;
}

.left_span span {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.middle_content {
  width: 420px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.middle_content p:first-child {
  width: 100%;
  margin-top: 20%;
  font-size: 18px;
  font-weight: 600;
  color: #D71C02;
}

.cover_img {
  margin-top: 30px;
}

.coverImgInner {
  width: 335px;
  height: 322px;
  background-image: url(../../img/coverImg.JPG);
  background-size: 100% 100%;
  display: inline-block;
}

.blue_H {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 385px;
  left: 410px;
  transform: rotate(-8.67deg);
  background: #006DA9;
}

.orange_A {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 65px solid #FB8145;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: 250px;
  left: 800px;
  transform: rotate(36.306deg);
}

.yellow_O {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 540px;
  left: 768px;
  transform: rotate(36.306deg);
  background-color: #FDD131;
}

.middle_content p:last-child {
  width: 100%;
  margin-top: 10%;
  font-size: 18px;
  font-weight: 500;
  color: #D71C02;
}

.right_span {
  width: 338px;
  height: 40px;
  position: relative;
  left: 13.8%;
  top: 298px;
  display: inline-block;
  transform: rotate(-90deg);
  text-align: center;
  line-height: 60px;
}

.right_span span {
  color: #D71C02;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#introduce {
  width: 100%;
  height: 100%;
  padding: 40px 100px;
}

#introduce h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
}

.about_inner {
  width: 100%;
  display: flex;
}

.about_left {
  width: 455px;
}

.greeting {
  width: 269px;
  height: 66px;
}

.greeting p {
  font-size: 18px;
  font-weight: 500;
}

.id_picture {
  width: 232px;
  height: 232px;
  margin-top: 15px;
  border-radius: 50%;
  background-image: url(../../img/introduceImg.JPG);
  background-size: 246px 300px;
}

.sort_introduce {
  width: 298px;
  height: 187px;
  margin-top: 30px;
}

.sort_introduce span {
  font-size: 14px;
}

.about_midle {
  width: 315px;
}

.about_midle article h3 {
  width: auto;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 46px;
}

.profile h3 {
  margin-top: 90px;
}

.about_midle p {
  margin-top: 15px;
  line-height: 22px;
  font-size: 14px;
}

.about_right {
  width: 310px;
}

.skill {
  margin-top: 90px;
  display: flex;
  justify-content: end;
}

.skill_title {
  width: 66px;
  height: 55px;
  font-size: 14px;
  font-weight: 600;
}

.skill_title span:first-child::after {
  content: '';
  width: 13px;
  margin: 10px 0;
  display: block;
  flex-grow: 1;
  font-size: 0px;
  line-height: 0px;
  border: 1px solid #000;
}

.skillBox {
  display: flex;
  flex-direction: column;
}

.skill_inner {
  width: auto;
  display: flex;
  margin: 12px 0;
}

.skill_inner p {
  font-size: 14px;
}

.checkbox {
  width: 18px;
  height: 18px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  margin-right: 14px;
}

#advantage {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  padding: 40px 100px;
  z-index: 1;
}

.advantageBox {
  position: relative;
  flex: 1;
  padding: 90px 26px 37px;
  opacity: 0.6;
  transition: flex 1s, opacity 1s;
  z-index: 1;
  cursor: pointer;
}

.advantageBox:hover {
  flex: 1.5;
  opacity: 1;
  z-index: 2;
}

.advantageBox:hover::before {
  left: 0px;
  opacity: 1;
}

.advantageBox:hover .advantage_inner .advantage_txt {
  width: 75%;
}

.advantageBox:hover .advantage_inner .advantage_txt h2 {
  font-size: 5vw;
  padding-top: 0px;
}

.advantageBox:hover .advantage_inner .advantage_txt h2::after {
  width: 120px;
  background: #006DA9;
  height: 3px;
}

.advantageBox:hover .advantage_inner figure {
  height: 25vh;
  filter: saturate(120%);
  transform: translateY(3vh);
}

.advantageBox::before {
  content: "";
  display: block;
  width: 80%;
  height: 95%;
  background: #FDD131;
  position: absolute;
  top: 40px;
  left: -50px;
  opacity: 0;
  transition: 1s;
}

.advantage_inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  position: relative;
}

.advantage_txt {
  width: 100%;
  transition: 0.5s;
  margin-bottom: 40px;
}

.advantage_txt h2 {
  margin-bottom: 40px;
  padding-top: 70px;
  font-size: 30px;
  font-weight: 600;
  color: #D71C02;
  transition: 1s;
}

.advantage_txt h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #777;
  margin-top: 20px;
  transition: 1.5s;
}

.advantage_txt p {
  font-size: 18px;
  font-weight: 600;
}

.advantage_txt p:last-child {
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.advantage_inner figure {
  width: 100%;
  height: 118px;
  background: #777;
  transform-origin: left center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  filter: saturate(10%);
  transition: 1s;
}

.advantage_inner figure video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#project {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

#project h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
  padding: 0 100px;
}

#project .portfolio_content {
  margin-top: 32px;
  padding: 40px 100px 0;
}

#project .portfolio_content .project_intro {
  display: flex;
  gap: 88px;
  /* --- .mockup */
}

#project .portfolio_content .project_intro .intro_txt {
  width: 350px;
}

#project .portfolio_content .project_intro .intro_txt h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#project .portfolio_content .project_intro .intro_txt .sub_txt {
  font-size: 14px;
  text-align: center;
}

#project .portfolio_content .project_intro .intro_txt .detail {
  display: flex;
  gap: 36px;
  margin-top: 50px;
}

#project .portfolio_content .project_intro .intro_txt .detail .subtitle p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

#project .portfolio_content .project_intro .intro_txt .detail .intro_content p {
  font-size: 14px;
  line-height: 30px;
}

#project .portfolio_content .project_intro .intro_txt .project_explanation {
  width: 350px;
  height: 197px;
  margin-top: 50px;
}

#project .portfolio_content .project_intro .intro_txt .project_explanation p {
  font-size: 14px;
  line-height: 25px;
}

#project .portfolio_content .project_intro .mockup {
  width: 632px;
  height: 483px;
}

#project .portfolio_content .project_intro .mockup img {
  width: 100%;
}

#project .portfolio_content .guide {
  width: 100%;
  height: auto;
  padding: 40px 0;
}

#project .portfolio_content .guide h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#project .portfolio_content .guide .guide_content {
  display: flex;
  gap: 44px;
}

#project .portfolio_content .guide .guide_content .logo_part {
  width: 350px;
  height: auto;
  margin-top: 30px;
  flex-direction: column;
  margin-left: 15px;
}

#project .portfolio_content .guide .guide_content .logo_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#project .portfolio_content .guide .guide_content .logo_part .logo {
  margin-top: 22px;
  margin-left: 5px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo span {
  font-weight: 300;
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 9px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo .title_O {
  color: #FDD131;
}

#project .portfolio_content .guide .guide_content .logo_part .logo .title_H {
  color: #006DA9;
}

#project .portfolio_content .guide .guide_content .logo_part .logo .title_A {
  color: #FB8145;
}

#project .portfolio_content .guide .guide_content .logo_part .logo p {
  margin-top: 10px;
  font-size: 14px;
}

#project .portfolio_content .guide .guide_content .logo_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 94px;
  margin-left: 5px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font {
  width: 340px;
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  gap: 14px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx {
  width: 112px;
  height: 156px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx span {
  width: 100%;
  height: 104px;
  display: block;
  font-family: "Black Han Sans", sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 104px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .logoFontEx .font_name p:last-child {
  font-size: 12px;
  font-weight: 300;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .fontExp {
  width: 214px;
  height: auto;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .fontExp .explanation {
  font-size: 14px;
}

#project .portfolio_content .guide .guide_content .logo_part .logo_font .fontExp .explanation:nth-last-child(-n+2) {
  font-size: 14px;
  margin-top: 12px;
}

#project .portfolio_content .guide .guide_content .logo_part .colorSubTilte {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin: 55px 0 20px 5px;
}

#project .portfolio_content .guide .guide_content .logo_part .font_color {
  width: 100%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .logo_part .font_color .color_list {
  display: flex;
}

#project .portfolio_content .guide .guide_content .logo_part .font_color .color_list .list_yellow {
  width: 22px;
  height: 22px;
  margin-right: 14px;
  border-radius: 50%;
  background: #FDD131;
}

#project .portfolio_content .guide .guide_content .logo_part .font_color .color_list .list_bule {
  width: 22px;
  height: 22px;
  margin-right: 14px;
  background: #006DA9;
}

#project .portfolio_content .guide .guide_content .logo_part .font_color .color_list .list_orange {
  width: 0px;
  height: 0px;
  border-bottom: 22px solid #FB8145;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

#project .portfolio_content .guide .guide_content .logo_part .fontColorExp {
  margin-top: 10px;
}

#project .portfolio_content .guide .guide_content .logo_part .fontColorExp p {
  font-size: 14px;
}

#project .portfolio_content .guide .guide_content .logo_part .fontColorExp p:last-child {
  margin-top: 12px;
  font-size: 14px;
}

#project .portfolio_content .guide .guide_content .font_part {
  width: 328px;
  height: 482px;
  margin-top: 30px;
  /* .font_ex */
  /* 폰트 사이즈 가이드라인 */
}

#project .portfolio_content .guide .guide_content .font_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#project .portfolio_content .guide .guide_content .font_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 18px;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex {
  margin-top: 18px;
  display: flex;
  gap: 18px;
  /* .font_name */
  /* .font_regular */
  /* .font_medium */
  /* .font_bold */
}

#project .portfolio_content .guide .guide_content .font_part .font_ex span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 76px;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_name p:last-child {
  font-size: 12px;
  font-weight: 300;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_regular {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_medium {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_medium span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 76px;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_bold {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .font_part .font_ex .font_bold span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 76px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size {
  margin-top: 15px;
  /* .fontSize30 */
  /* .fontSize20 */
  /* .fontSize18 */
  /* .fontSize16 */
  /* .fontSize14 */
}

#project .portfolio_content .guide .guide_content .font_part .font_size span {
  font-size: 14px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .small_exp {
  margin-top: 20px;
  font-size: 11px;
  text-align: right;
  color: #888;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize30 {
  margin-top: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize30 p {
  font-size: 30px;
  letter-spacing: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize20 {
  margin-top: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize20 p {
  font-size: 20px;
  letter-spacing: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize18 {
  margin-top: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize18 p {
  font-size: 18px;
  letter-spacing: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize16 {
  margin-top: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize16 p {
  font-size: 16px;
  letter-spacing: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize14 {
  margin-top: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .font_size .fontSize14 p {
  font-size: 14px;
  letter-spacing: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .fontSize32 p {
  font-size: 32px;
  letter-spacing: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .fontSize11 {
  margin-top: 10px;
}

#project .portfolio_content .guide .guide_content .font_part .fontSize11 p {
  font-size: 11px;
  letter-spacing: 10px;
}

#project .portfolio_content .guide .guide_content .color_part {
  width: 300px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .color_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#project .portfolio_content .guide .guide_content .color_part .color_content {
  width: 300px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .colorSubTitle {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
}

#project .portfolio_content .guide .guide_content .color_part .color_content span {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .icon_color {
  margin-top: 18px;
  display: flex;
  gap: 50px;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_yellow {
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_yellow .yellow_shapes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FDD131;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_bule {
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_bule .bule_shapes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #006DA9;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_orange {
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .icon_color .icon_orange .orange_shapes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FB8145;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color {
  margin-top: 30px;
  display: flex;
  gap: 24px;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .point_color {
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .point_color .icon_red {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #D71C02;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .background_color {
  display: flex;
  flex-direction: column;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .background_color .icon_white {
  width: 60px;
  height: 60px;
  margin-left: 8.77px;
  margin-top: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  background-color: #fffffc;
}

#project .portfolio_content .guide .guide_content .color_part .color_content .bottom_color .background_color .backgroundColorTxt {
  text-align-last: left;
  margin-left: 8.77px;
}

#project .portfolio_content .guide .guide_content .color_part .button_color {
  margin-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_content {
  width: 294px;
  display: flex;
  margin-left: 5px;
  gap: 18px;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_content .resume_btn {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: #FDD131;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_content .github_btn {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: #006DA9;
  color: #fff;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_content .notion_btn {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: #FB8145;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover {
  display: flex;
  margin-left: 5px;
  gap: 30px;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover span {
  font-size: 36px;
  font-weight: 300;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover p {
  font-size: 14px;
  font-weight: 300;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .nomal_part .nomal_ex {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .hover_part .hover_ex {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .hover_part .hover_ex span {
  font-weight: 500;
  color: #D71C02;
}

#project .portfolio_content .guide .guide_content .color_part .button_color .button_hover .hover_part .hover_ex p {
  color: #D71C02;
}

#project .portfolio_content .pagever_intro {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

#project .portfolio_content .pagever_intro h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#project .portfolio_content .pagever_intro .portfolio_mockup {
  width: 526px;
  height: 960px;
  margin-top: 36px;
  background-image: url(../../img/portfolio_capture.png);
  background-size: 100% 100%;
}

#project .portfolio_content .pagever_intro .page_explanation p {
  width: 300px;
  position: relative;
  font-size: 14px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineRed p {
  top: 20px;
  left: 0px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineRed svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  bottom: 30px;
  left: 320px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineBlue p {
  top: 240px;
  left: 60px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineBlue svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 185px;
  left: 360px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineYellow p {
  top: 300px;
  left: 20px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineYellow svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 250px;
  left: 330px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineOrenge p {
  top: 480px;
  left: 90px;
}

#project .portfolio_content .pagever_intro .page_explanation .arrowLineOrenge svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 450px;
  left: 397px;
}

#project .kiki_content {
  background-color: #A5C2D3;
  padding: 92px 100px 0;
}

#project .kiki_content .project_intro {
  display: flex;
  gap: 88px;
  /* --- .mockup */
}

#project .kiki_content .project_intro .mockup {
  width: 632px;
  height: 483px;
}

#project .kiki_content .project_intro .mockup img {
  width: 100%;
}

#project .kiki_content .project_intro .intro_txt {
  width: 350px;
}

#project .kiki_content .project_intro .intro_txt h3 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

#project .kiki_content .project_intro .intro_txt .sub_txt {
  font-size: 14px;
  text-align: center;
}

#project .kiki_content .project_intro .intro_txt .detail {
  display: flex;
  gap: 36px;
  margin-top: 50px;
}

#project .kiki_content .project_intro .intro_txt .detail .subtitle p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

#project .kiki_content .project_intro .intro_txt .detail .intro_content p {
  font-size: 14px;
  line-height: 30px;
}

#project .kiki_content .project_intro .intro_txt .project_explanation {
  width: 350px;
  height: 197px;
  margin-top: 50px;
}

#project .kiki_content .project_intro .intro_txt .project_explanation p {
  font-size: 14px;
  line-height: 25px;
}

#project .guide {
  width: 100%;
  height: auto;
  padding: 40px 0;
  color: #0A4B41;
}

#project .guide h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#project .guide .guide_content {
  display: flex;
  gap: 44px;
}

#project .guide .guide_content .logo_part {
  width: 350px;
  height: auto;
  margin-top: 30px;
  flex-direction: column;
  margin-left: 15px;
}

#project .guide .guide_content .logo_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#project .guide .guide_content .logo_part .logo {
  margin-top: 22px;
  margin-left: 5px;
}

#project .guide .guide_content .logo_part .logo img {
  width: 118px;
  height: 22px;
}

#project .guide .guide_content .logo_part .logo p {
  margin-top: 10px;
  font-size: 14px;
}

#project .guide .guide_content .logo_part .logo p:last-child {
  font-size: 11px;
  color: #888;
}

#project .guide .guide_content .logo_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 24px;
  margin-left: 5px;
}

#project .guide .guide_content .logo_part .button_box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 15px;
}

#project .guide .guide_content .logo_part .button_box .button_content {
  width: 78px;
  height: 96px;
  border: 1.5px solid #0A4B41;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

#project .guide .guide_content .logo_part .button_box .button_content img {
  width: 100%;
  height: 60px;
}

#project .guide .guide_content .logo_part .button_box .button_content .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  padding: 3px 0;
}

#project .guide .guide_content .logo_part .button_box .button_content .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#project .guide .guide_content .logo_part .button_box .button_content .font_name p {
  font-size: 12px;
  text-align: center;
  line-height: 27px;
}

#project .guide .guide_content .logo_part .cursor_box {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

#project .guide .guide_content .logo_part .cursor_box p {
  font-size: 14px;
}

#project .guide .font_part {
  width: 328px;
  height: 482px;
  margin-top: 30px;
  /* .font_ex */
  /* 폰트 사이즈 가이드라인 */
}

#project .guide .font_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#project .guide .font_part h5 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 18px;
}

#project .guide .font_part .font_ex {
  margin-top: 18px;
  display: flex;
  gap: 18px;
  /* .font_name */
  /* .font_regular */
  /* .font_medium */
  /* .font_bold */
}

#project .guide .font_part .font_ex span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 76px;
}

#project .guide .font_part .font_ex .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
}

#project .guide .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#project .guide .font_part .font_ex .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#project .guide .font_part .font_ex .font_name p:last-child {
  font-size: 12px;
  font-weight: 300;
}

#project .guide .font_part .font_ex .font_regular {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .guide .font_part .font_ex .font_medium {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .guide .font_part .font_ex .font_medium span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 76px;
}

#project .guide .font_part .font_ex .font_bold {
  width: 98px;
  height: 118px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

#project .guide .font_part .font_ex .font_bold span {
  width: 100%;
  height: 72px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 76px;
}

#project .guide .font_part .font_size {
  margin-top: 15px;
  /* .fontSize30 */
  /* .fontSize20 */
  /* .fontSize18 */
  /* .fontSize16 */
  /* .fontSize14 */
}

#project .guide .font_part .font_size span {
  font-size: 14px;
}

#project .guide .font_part .font_size .small_exp {
  margin-top: 20px;
  font-size: 11px;
  text-align: right;
  color: #888;
}

#project .guide .font_part .font_size .fontSize30 {
  margin-top: 10px;
}

#project .guide .font_part .font_size .fontSize30 p {
  font-size: 30px;
  letter-spacing: 10px;
}

#project .guide .font_part .font_size .fontSize20 {
  margin-top: 10px;
}

#project .guide .font_part .font_size .fontSize20 p {
  font-size: 20px;
  letter-spacing: 10px;
}

#project .guide .font_part .font_size .fontSize18 {
  margin-top: 10px;
}

#project .guide .font_part .font_size .fontSize18 p {
  font-size: 18px;
  letter-spacing: 10px;
}

#project .guide .font_part .font_size .fontSize16 {
  margin-top: 10px;
}

#project .guide .font_part .font_size .fontSize16 p {
  font-size: 16px;
  letter-spacing: 10px;
}

#project .guide .font_part .font_size .fontSize14 {
  margin-top: 10px;
}

#project .guide .font_part .font_size .fontSize14 p {
  font-size: 14px;
  letter-spacing: 10px;
}

#project .guide .font_part .font_regular, #project .guide .font_part .font_medium, #project .guide .font_part .font_bold {
  background-color: #fff;
}

#project .guide .font_part .fontSize96 p {
  font-size: 44px;
  letter-spacing: 10px;
}

#project .guide .font_part .fontSize12 p {
  font-size: 12px;
  letter-spacing: 10px;
}

#project .color_part {
  width: 300px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#project .color_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#project .color_part .colorSubTitle {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #888;
  margin-top: 18px;
  margin-left: 5px;
}

#project .color_part .back_color {
  display: flex;
  margin-top: 18px;
  margin-left: 5px;
  flex-wrap: wrap;
  column-gap: 26px;
  row-gap: 20px;
}

#project .color_part .back_color span {
  width: 100%;
  height: 34px;
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 31px;
}

#project .color_part .back_color .back_content {
  width: 76px;
  height: 104px;
  border: 1.5px solid #888;
  border-radius: 4px;
  background-color: #fff;
}

#project .color_part .back_color .back_content .green_shapes {
  width: 73px;
  height: 72px;
  background-color: #0a4b41;
}

#project .color_part .back_color .back_content .blue_shapes {
  width: 73px;
  height: 72px;
  background-color: #1145a2;
}

#project .color_part .back_color .back_content .bagie_shapes {
  width: 73px;
  height: 72px;
  background-color: #d7dac7;
}

#project .color_part .back_color .back_content .black_shapes {
  width: 73px;
  height: 72px;
  background-color: #000000;
}

#project .color_part .back_color .back_content .skyBule_shapes {
  width: 73px;
  height: 72px;
  background-color: #b7cae8;
}

#project .color_part .back_color .back_content .purple_shapes {
  width: 73px;
  height: 72px;
  background-color: #4f4259;
}

#project .point_part {
  margin-top: 30px;
}

#project .point_part h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

#project .point_part .kikiPointColor {
  display: flex;
  gap: 32px;
  margin-top: 18px;
  margin-left: 5px;
}

#project .point_part .kikiPointColor .kikiPointContent {
  display: flex;
  flex-direction: column;
}

#project .point_part .kikiPointColor .kikiPointContent .colorSubTitle {
  margin-top: 0px;
  margin-left: 0px;
}

#project .point_part .kikiPointColor .kikiPointContent .back_red {
  width: 76px;
  height: 104px;
  border: 1.5px solid #888;
  border-radius: 4px;
  background-color: #fff;
  margin: auto;
  margin-top: 10px;
}

#project .point_part .kikiPointColor .kikiPointContent .back_red span {
  width: 100%;
  height: 34px;
  display: block;
  font-size: 14px;
  text-align: center;
  line-height: 31px;
  text-transform: uppercase;
}

#project .point_part .kikiPointColor .kikiPointContent .back_red .red_shapes {
  width: 73px;
  height: 72px;
  background-color: #d71e15;
}

#project .point_part .kikiPointColor .kikiPointfont {
  display: flex;
  flex-direction: column;
}

#project .point_part .kikiPointColor .kikiPointfont .colorSubTitle {
  margin-top: 0px;
  margin-left: 0px;
}

#project .point_part .kikiPointColor .kikiPointfont .font_bold {
  width: 84px;
  height: 104px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  background-color: #fff;
}

#project .point_part .kikiPointColor .kikiPointfont .font_bold span {
  width: 100%;
  height: 66px;
  display: block;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: 68px;
}

#project .point_part .kikiPointColor .kikiPointfont .font_bold .font_name {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;
  height: auto;
  padding: 2px 4px;
}

#project .point_part .kikiPointColor .kikiPointfont .font_bold .font_name p {
  font-size: 14px;
  font-weight: 500;
}

#project .point_part .kikiPointColor .kikiPointfont .font_bold .font_name p {
  font-size: 12px;
}

#project .pointFontSize {
  margin-top: 15px;
  margin-left: 5px;
}

#project .pointFontSize span {
  font-size: 14px;
}

#project .pointFontSize p {
  font-size: 32px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#project .pagever_intro {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

#project .pagever_intro h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#project .pagever_intro .pagever_content {
  display: flex;
  gap: 30px;
  margin-top: 36px;
}

#project .pagever_intro .pagever_content .kiki_mockup {
  width: 526px;
  height: 960px;
  background-image: url(../../img/kiki_capture.png);
  background-size: 100% 100%;
}

#project .pagever_intro .pagever_content .page_explanation p {
  width: 300px;
  position: relative;
  font-size: 14px;
}

#project .pagever_intro .pagever_content .page_explanation .arrowLineDWRed p {
  top: 86px;
  left: 170px;
}

#project .pagever_intro .pagever_content .page_explanation .arrowLineDWRed svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 50px;
  right: 350px;
}

#project .pagever_intro .pagever_content .page_explanation .arrowLineBeige p {
  top: 408px;
  left: 150px;
}

#project .pagever_intro .pagever_content .page_explanation .arrowLineBeige svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 350px;
  right: 40px;
}

#project .pagever_intro .pagever_content .page_explanation .arrowLineGreen p {
  top: 536px;
  left: 222px;
}

#project .pagever_intro .pagever_content .page_explanation .arrowLineGreen svg {
  width: auto;
  stroke-width: 3px;
  position: relative;
  top: 500px;
  right: 40px;
}

#contact {
  width: 100%;
  height: 600px;
  padding: 40px 100px;
  background-color: #fffffc;
}

#contact h2 {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #006DA9;
  text-transform: uppercase;
}

#contact .img_container {
  width: 240px;
  height: 240px;
  margin: auto;
  justify-content: center;
  display: flex;
  background-image: url(../../img/endingImg.JPG);
  background-size: 100% 100%;
}

#contact p {
  width: 100%;
  height: 36px;
  margin-top: 35px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #D71C02;
  text-transform: capitalize;
}

#contact .personal_data p:first-child {
  width: 100%;
  height: 18px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

#contact .personal_data a {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
}

#footBox {
  width: 100%;
  position: sticky;
  bottom: 0px;
  z-index: 51;
}

.footinner {
  background-color: white;
  border-top: 1px solid #e5e5e5;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  position: relative;
  text-align: center;
  width: 100%;
}

.fnb_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
}

.fnb_container h1 {
  width: auto;
  height: 100%;
  line-height: 36px;
  font-family: 'Black-Han-Sans';
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 9px;
}

.verical_divider {
  background-color: #e1e1e1;
  flex-grow: 0;
  height: 12px;
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
}

.fnb {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 11px;
  font-weight: 500;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}

.fnb label {
  width: 10%;
  height: auto;
  text-align: center;
}

.fnb label:hover {
  color: #D71C02;
  font-weight: 600;
}

.link_btn {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 11px;
  align-items: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-box-pack: end;
}

.link_btn a {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-weight: 500;
}

.resume_btn {
  background-color: #FDD131;
  border-radius: 10px;
}

.github_btn {
  background-color: #006DA9;
  color: #fff;
  border-radius: 10px;
}

.notion_btn {
  background-color: #FB8145;
  border-radius: 10px;
}
