// portfolio2.scss
/* portfolio2.css */

@import "../common/variable";
@import "../common/mixin";

/* fonts.css */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Black Han Sans', sans-serif;
  src: url("../../font/Black_Han_Sans/BlackHanSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

*{
  cursor: url(../../img/cursor.svg) 5 5, progress;
}

/* #wrap - 전체 레이아웃 설정 */
// #wrap - 전체 레이아웃 설정
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: $color_white;
  font-family: "S-Core_Dream_OTF";
  font-weight: 300;

  // #headbox
  /* #headbox */
  #headbox {
    width: 100%;
    height: 70px;
    line-height: 30px;
    padding: 20px 100px;
    position: sticky;
    display: flex;
    top: 0;
    box-sizing: border-box;
    background-color: $color_white;
    z-index: 1000;

    // .headinner
    /* .headinner */
    .headinner {
      width: 75%;
      height: 100%;
      box-sizing: border-box;
      display: flex;

      /* logo */
      h1 {
        width: auto;
        height: 100%;

        a {
          font-family: $font-family_black;
          font-size: map-get($map: $font_size, $key: projectsub);
          font-weight: bolder;
          letter-spacing: 9px;

          .title_O {
            color: $color_yellow;
          }
          .title_H {
            color: $color_blue;
          }
          .title_A {
            color: $color_orange;
          }
        } /* --- a */
      } /* --- h1 */
    } /*  --- .headinner */

    /* .gnb */
    // .gnb
    .gnb {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      font-family: $font_family_score;
      font-size: map-get($map:$font_size , $key:content1);
      text-transform: uppercase;
      color: $color_black;

      & label {
        width: 20%;
        height: auto;
        text-align: center;
      }

      label:hover {
        @include navHover();
      }
    } /* --- .gnb */
  } /* --- #headBox */

  // main
  /* main */
  main {

    // #home
    /* #home */
    #home {
      width: 100%;
      height: 92vh;
      display: flex;
      padding: 40px 100px;
      
      .left_span {
        width: 338px;
        height: 40px;
        position: relative;
        right: 13.8%;
        top: 298px;
        rotate: 90deg;
        display: inline-block;
        text-align: center;
        line-height: 62px;
        flex-shrink: 0;
      }
      .middle_content {
        width: 420px;
        display: flex;
        flex-direction: column;
        text-align: center;

        & p:first-child {
          width: 100%;
          margin-top: 20%;
          font-size: map-get($map: $font_size, $key: pointcontent);
          font-weight: $font_weight_bold;
          color: $color_red;
        }
        .cover_img {
          margin-top: 30px;
        }
        .coverImgInner {
          width: 335px;
          height: 322px;
          background-image: url(../../img/coverImg.JPG);
          background-size: 100% 100%;
          display: inline-block;
        }
        & .blue_H {
          position: absolute;
          width: 60px;
          height: 60px;
          top: 385px;
          left: 410px;
          transform: rotate(-8.67deg);
          background: $color_blue;
        }
        & .orange_A {
          position: absolute;
          width: 0px;
          height: 0px;
          border-bottom: 65px solid $color_orange;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          top: 250px;
          left: 800px;
          transform: rotate(36.306deg);
        }
        & .yellow_O {
          position: absolute;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          top: 540px;
          left: 768px;    
          transform: rotate(36.306deg);
          background-color: $color_yellow;
        }
        & p:last-child {
          width: 100%;
          margin-top: 10%;
          font-size: map-get($map: $font_size, $key: pointcontent);
          font-weight: $font_weight_medium;
          color: $color_red;
        }
      } /* --- .middle_content */

      /* .right_span */
      // .right_span
      .right_span {
        width: 338px;
        height: 40px;
        position: relative;
        left: 13.8%;
        top: 298px;
        display: inline-block;
        transform: rotate(-90deg);
        text-align: center;
        line-height: 60px;

        span {
          color: $color_red;
          text-align: center;
          font-size: map-get($map: $font_size, $key: pointcontent);
          font-style: normal;
          font-weight: $font_weight_bold;
          line-height: normal;
        }
      } /* --- .right_span */
    } /* --- #home */

    // #introduce
    /* #introduce */
    #introduce {
      width: 100%;
      height: 100%;
      padding: 40px 100px;


      h2 {
        @include h2;
      }

      /* .about_inner */
      // .about_inner
      .about_inner {
        width: 100%;
        display: flex;
        
        .about_left {
          width:  455px;

          .greeting {
            width: 269px;
            height: 66px;

            p {
              font-size: map-get($map: $font_size, $key: pointcontent);
              font-weight: $font_weight_medium;
            }
          } /* --- .greeting */

          /* .id_picture */
          // .id_picture
          .id_picture {
            width: 232px;
            height: 232px;
            margin-top: 15px;
            border-radius: 50%;
            background-image: url(../../img/introduceImg.JPG);
            background-size: 246px 300px;
          }
          .sort_introduce {
            width: 298px;
            height: 187px;
            margin-top: 30px;

            span {
              font-size: map-get($map: $font_size, $key: content1);
            }
          } /* --- .sort_introduce */
        } /* --- .about_left */

        /* .about_midle */
        // .about_midle
        .about_midle {
          width: 315px;

          article h3 {
            @include h3;
            margin-top: 46px;
          }
          .profile h3 {
            margin-top: 90px;
          }
          p {
            margin-top: 15px;
            line-height: 22px;
            font-size: map-get($map: $font_size, $key: content1);
          }
        } /* --- .about_midle */

        /* .about_right */
        // .about_right
        .about_right {
          width: 310px;

          .skill {
            margin-top: 90px;
            display: flex;
            justify-content: end;

            .skill_title {
              width: 66px;
              height: 55px;
              font-size: map-get($map: $font_size, $key: content1);
              font-weight: $font_weight_bold;
            }
            .skill_title span:first-child::after {
              content: '';
              width: 13px;
              margin: 10px 0;
              display: block;
              flex-grow: 1;
              font-size: 0px;
              line-height: 0px;
              border: 1px solid #000
            }

            /* .skillBox */
            // .skillBox
            .skillBox {
              display: flex;
              flex-direction: column;

              .skill_inner {
                width: auto;
                display: flex;
                margin: 12px 0;
                
                p {
                  font-size: map-get($map: $font_size, $key: content1);
                }

                .checkbox {
                  width: 18px;
                  height: 18px;
                  line-height: 24px;
                  border: 1px solid #cdcdcd;
                  margin-right: 14px;
                }
              } /* --- .skill_inner */
            } /* --- .skillBox */
          } /* --- .skill */
        } /* --- .about_right */
      } /* --- .about_inner */
    } /* --- #introduce */

    // #advantage
    /* advantage */
    #advantage {
      @include sectionBasic();
      
      position: relative;
      display: flex;
      padding: 40px 100px;
      z-index: 1;

      .advantageBox {
        position: relative;
        flex: 1;
        padding: 90px 26px 37px;
        opacity: 0.6;
        transition: flex 1s, opacity 1s;
        z-index: 1;
        cursor: pointer;
      }
      .advantageBox:hover {
        flex: 1.5;
        opacity: 1;
        z-index: 2;
      }
      .advantageBox:hover::before {
        left: 0px;
        opacity: 1;
      }
      .advantageBox:hover .advantage_inner .advantage_txt {
        width: 75%;

        h2 {
          font-size: 5vw;
          padding-top: 0px;
        }
        h2::after {
          width: 120px;
          background: $color_blue;
          height: 3px;
        }
      } /* --- .advantage_txt */

      .advantageBox:hover .advantage_inner figure {
        height: 25vh;
        filter: saturate(120%);
        transform: translateY(3vh);
      }

      .advantageBox::before {
        content: "";
        display: block;
        width: 80%;
        height: 95%;
        background: $color_yellow;
        position: absolute;
        top: 40px;
        left: -50px;
        opacity: 0;
        transition: 1s;
      }

      /* .advantage_inner */
      // .advantage_inner
      .advantage_inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        position: relative;

        .advantage_txt {
          width: 100%;
          transition: 0.5s;
          margin-bottom: 40px;

          h2 {
            margin-bottom: 40px;
            padding-top: 70px;
            font-size: map-get($map: $font_size, $key: emphasis);
            font-weight: $font_weight_bold;
            color: $color_red;
            transition: 1s;
          }
        } /* --- .advantage_txt */

        .advantage_txt h2::after {
          content: "";
          display: block;
          width: 40px;
          height: 2px;
          background: #777;
          margin-top: 20px;
          transition: 1.5s;
        }

        .advantage_txt p {
          font-size: map-get($map: $font_size, $key: pointcontent);
          font-weight: $font_weight_bold;
        }

        .advantage_txt p:last-child {
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_regular;
          margin-top: 10px;
        }

        // figure
        /* figure */
        figure {
          width: 100%;
          height: 118px;
          background: #777;
          transform-origin: left center;
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
          position: relative;
          overflow: hidden;
          filter: saturate(10%);
          transition: 1s;

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        } /* --- figure */
      } /* --- .advantage_inner */
    } /* --- #advantage */

    // #project
    /* #project */
    #project {
      width: 100%;
      height: auto;
      padding-top: 40px;

      h2 {
        @include h2;
        padding: 0 100px;
      }

      .portfolio_content {
        margin-top: 32px;
        padding: 40px 100px 0;

        // 프로젝트 설명
        /* 프로젝트 설명 */
        .project_intro {
          @include projectIntro();
          
          @include introTxt();

          @include guideMockup();
        } /* --- project_intro - 프로젝트 설명 */

        /* .guide - 가이드라인 */
        // .guide - 가이드라인 
        .guide {
          @include guideBox();

          h3 {
            @include guidelineh3 ();
          }

          /* .guide_content -포트폴리오 프로젝트 설명 */
          // .guide_content - 포트폴리오 프로젝트 설명
          .guide_content {
            @include guideflex();

            .logo_part {
              @include guidelogoContent ();

              h4 {
                @include h4();
              }
              .logo {
                @include logoMargin();


                span{
                  font-weight: $font_weight_regular;
                  font-family: $font-family_black;
                  font-size: map-get($map: $font_size, $key: projectsub);
                  letter-spacing: 9px;
                }

                .title_O {
                  color: $color_yellow;
                }
                .title_H {
                  color: $color_blue;
                }
                .title_A {
                  color: $color_orange;
                }

                p{
                  @include logoInP();
                }
              } /* --- .logo */

              h5 {
                @include h5();
                margin-top: 94px;
                margin-left: 5px;
              }

              /* .logo_font */
              // .logo_font
              .logo_font {
                width: 340px;
                margin-top: 10px;
                margin-left: 5px;
                display: flex;
                gap: 14px;

                .logoFontEx {
                  width: 112px;
                  height: 156px;
                  border: 1.5px solid $color_grayC;
                  border-radius: 4px;

                  span {
                    width: 100%;
                    height: 104px;
                    display: block;
                    font-family: $font-family_black;
                    font-size: 36px;
                    text-align: center;
                    line-height: 104px;
                  }
                  .font_name {
                    @include fontName ();
                    p:last-child {
                      font-size: map-get($map: $font_size, $key: content2);
                      font-weight: $font_weight_regular;
                    }
                  } /* --- .font_name - 폰트명 */
                } /* --- .logoFontEx - 폰트 예시 이미지 */

                /* .fontExp */
                // .fontExp
                .fontExp {
                  width: 214px;
                  height: auto;
                  
                  .explanation {
                    font-size: map-get($map: $font_size, $key: content1);
                  }
                  
                  .explanation:nth-last-child(-n+2) {
                    font-size: map-get($map: $font_size, $key: content1);
                    margin-top: 12px;
                  }
                } /* --- .fontExp = 글꼴 설명 */
              } /* --- .logo_font */

              .colorSubTilte {
                @include h5();
                margin: 55px 0 20px 5px;
              }

              .font_color {
                width: 100%;
                margin-left: 5px;
                display: flex;
                flex-direction: column;

                /* .color_list */
                // .color_list
                .color_list {
                  display: flex;

                  .list_yellow {
                    width: 22px;
                    height: 22px;
                    margin-right: 14px;
                    border-radius: 50%;
                    background: $color_yellow;
                  }

                  .list_bule {
                    width: 22px;
                    height: 22px;
                    margin-right: 14px;
                    background: $color_blue;
                  }

                  .list_orange {
                    width: 0px;
                    height: 0px;
                    border-bottom: 22px solid #FB8145;
                    border-left: 12px solid transparent;
                    border-right: 12px solid transparent;
                  }
                } /* --- .color_list */
              } /* --- .font_color - 폰트 색상 */

              /* .fontColorExp */
              // .fontColorExp
              .fontColorExp {
                margin-top: 10px;
                p {
                  font-size: map-get($map: $font_size, $key: content1);
                }
                p:last-child {
                  margin-top: 12px;
                  font-size: map-get($map: $font_size, $key: content1);
                }
              } /* --- .fontColorExp */
            } /* --- .logo_part - 로고 가이드라인 */
          
            /* .font_part */
            // .font_part
            .font_part {
              @include fontPartBox(); /* .font_size - 폰트 사이즈 가이드라인 */ // 폰트 사이즈 가이드라인
              
              .fontSize32 {
                p {
                  font-size: map-get($map: $font_size, $key: projecttitle);
                  letter-spacing: 10px;
                }
              } /* --- .fontSize32 */

              .fontSize11 {
                @include fontSizeEx();
          
                p {
                  font-size: map-get($map: $font_size, $key: fnb);
                  letter-spacing: 10px;
                }
              } /* --- .fontSize11 */
            } /* --- .font_part - 폰트 설명  */

            // color_part - 가이드라인 color부분
            /* color_part  - 가이드라인 color부분 */
            .color_part {
              @include colorPartBox();
              
              h4 {
                @include h4();
              }
              .color_content {
                @include colorPartBox();
              
                .colorSubTitle {
                  @include h5();
                }

                span {
                  @include ColorRgbTxt();
                }

                /* .icon_color */
                // .icon_color
                .icon_color {
                  margin-top: 18px;
                  display: flex;
                  gap: 50px;
                
                  .icon_yellow {
                    display: flex;
                    flex-direction: column;
                  
                    .yellow_shapes {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                      background-color: $color_yellow;
                    }
                  } /* --- .icon_yellow */

                  /* .icon_bule */
                  // .icon_bule
                  .icon_bule {
                    display: flex;
                    flex-direction: column;

                    .bule_shapes {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                      background-color: $color_blue;
                    }
                  } /* --- .icon_bule */

                  /* .icon_orange */
                  // .icon_orange
                  .icon_orange {
                    display: flex;
                    flex-direction: column;
                  
                    .orange_shapes {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                      background-color: $color_orange;
                    }
                  } /* --- .icon_orange */
                } /* --- .icon_color */

                /* .bottom_color */
                // .bottom_color
                .bottom_color {
                  margin-top: 30px;
                  display: flex;
                  gap: 24px;
                
                  .point_color {
                    display: flex;
                    flex-direction: column;
                  
                    .icon_red {
                      width: 60px;
                      height: 60px;
                      margin: auto;
                      margin-top: 10px;
                      border-radius: 50%;
                      background-color: $color_red;
                    }
                  } /* --- .point_color */

                  /* .background_color */
                  // .background_color
                  .background_color {
                    display: flex;
                    flex-direction: column;
                  
                    .icon_white {
                      width: 60px;
                      height: 60px;
                      margin-left: 8.77px;
                      margin-top: 10px;
                      border: 1px solid #cfcfcf;
                      border-radius: 50%;
                      background-color: $color_graywhite;
                    }

                    .backgroundColorTxt {
                      text-align-last: left;
                      margin-left: 8.77px;
                    }
                  } /* --- .background_color */
                } /* --- .bottom_color */
              } /* --- .color_content - 사용한 색상 가이드라인 */

              /* .button_color */
              // .button_color
              .button_color {
                margin-top: 94px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-weight: $font_weight_medium;
                
                /* .button_content */
                // .button_content
                .button_content {
                  width: 294px;
                  display: flex;
                  margin-left: 5px;
                  gap: 18px;
                
                  .resume_btn {
                    @include fnb ();
                    background-color: $color_yellow;
                  }

                  .github_btn {
                    @include fnb ();
                    background-color: $color_blue;
                    color: $color_white;
                  }

                  .notion_btn {
                    @include fnb ();
                    background-color: $color_orange;
                  }
                } /* --- .button_content */

                /* .button_hover - 버튼 마우스 오버 시 색상 및 굵기 */
                // .button_hover - 버튼 마우스 오버 시 색상 및 굵기
                .button_hover {
                  display: flex;
                  margin-left: 5px;
                  gap: 30px;
                
                  h5 {
                    @include h5();
                  }

                  span {
                    font-size: 36px;
                    font-weight: $font_weight_regular;
                  }

                  p {
                    font-size: map-get($map: $font_size, $key: content1);
                    font-weight: $font_weight_regular;
                  }

                  /* .nomal_part */
                  // .nomal_part
                  .nomal_part {
                    .nomal_ex {
                      width: 100px;
                      height: 100px;
                      margin-top: 10px;
                      padding-top: 20px;
                      text-align: center;
                      border: 1.5px solid $color_grayC;
                      border-radius: 4px;
                    }
                  } /* --- .nomal_part */

                  /* .hover_part */
                  // .hover_part
                  .hover_part {
                    .hover_ex {
                      width: 100px;
                      height: 100px;
                      margin-top: 10px;
                      padding-top: 20px;
                      text-align: center;
                      border: 1.5px solid $color_grayC;
                      border-radius: 4px;
                    
                      span {
                        font-weight: $font_weight_medium;
                        color: $color_red;
                      }

                      p {
                        color: $color_red;
                      }
                    } /* --- .hover_ex */
                  } /* --- .hover_part */
                } /* --- .button_hover */
              } /* --- .button_color */
            } /* --- color_part  - 가이드라인 color부분 */ // color_part  - 가이드라인 color부분
          } /* --- .port_content - 포트폴리오 프로젝트 설명 */
        } /* --- .guide - 가이드라인부분 */ // guide -가이드라인부분

        /* .pagever_intro - 사이트 주기능 설명 */
        // .pagever_intro - 사이트 주기능 설명
        .pagever_intro {
          @include pageIntro();

          h3 {
            @include guidelineh3 ();
          }
          .portfolio_mockup {
            width: 526px;
            height: 960px;
            margin-top: 36px;
            background-image: url(../../img/portfolio_capture.png);
            background-size: 100% 100%;
          }

          .page_explanation {
            p {
              @include arrowSvgTxt();
            }
            // 빨간 선
            .arrowLineRed {
              p {
                bottom: 120px;
                left: 140px;
              }
              svg {
                @include arrowSvg();
                bottom: 177px;
                left: 456px;
              }
            }

            // 파란선
            .arrowLineBlue {
              p {
                top: 240px;
                left: 30px;
              }
              svg {
                @include arrowSvg();
                top: 194px;
                left: 375px;
              }
            }

            // 노란선
            .arrowLineYellow {
              p {
                top: 300px;
                left: 20px;
              }
              svg {
                @include arrowSvg();
                top: 250px;
                left: 330px;
              }
            }

            // 주황선
            .arrowLineOrenge {
              p {
                top: 500px;
                left: 90px;
              }
              svg {
                @include arrowSvg();
                top: 450px;
                left: 397px;
              }
            }
          } // --- .page_explanation
        } // --- pagever_intro - 사이트 주기능 설명
      } // --- .portfolio_content - 포트폴리오 프로젝트 설명

      // .kiki_content - 마녀배달부키키 프로젝트 설명
      .kiki_content {
        background-color: #A5C2D3;
        padding: 92px 100px 0;

        // .project_intro
        .project_intro {
          @include projectIntro();

          // .mockup
          @include guideMockup();

          @include introTxt();
        }
      } // --- .kiki_content

      // .guide
      .guide {
        @include guideBox();
        color: $color_green;

        h3 {
          @include guidelineh3();
        }

        // .guide_content
        .guide_content {
          @include guideflex();

          //.logo_part
          .logo_part {
            @include guidelogoContent ();

            h4 {
              @include h4();
            }

            // .logo
            .logo {
              @include logoMargin();

              img {
                width: 118px;
                height: 22px;
              }
              p {
                @include logoInP();
              }
              p:last-child {
                font-size: map-get($map: $font_size, $key: fnb);
                color: $color_gray
              }
            } // --- .logo

            h5 {
              @include h5();
              margin-top: 24px;
              margin-left: 5px;
            }

            // .button_box
            .button_box {
              margin-top: 20px;
              display: flex;
              flex-wrap: wrap;
              column-gap: 30px;
              row-gap: 15px;

              // .button_content
              .button_content {
                width: 78px;
                height: 96px;
                border: 1.5px solid $color_green;
                border-radius: 4px;
                display: flex;
                flex-wrap: wrap;

                img {
                  width: 100%;
                  height: 60px;
                }

                // .font_name
                .font_name {
                  @include fontName();

                  background-color: $color_white;
                  padding: 3px 0;

                  p {
                    font-size: map-get($map: $font_size, $key: content2);
                    text-align: center;
                    line-height: 27px;
                  }
                } // --- .font_name
              } // --- .button_content 
            } // --- .button_box

            .cursor_box {
              margin-top: 20px;
              display: flex;
              gap: 20px;

              p {
                font-size: map-get($map: $font_size, $key: content1)
              }
            }
          } // --- .logo_part
        } // --- .guide_content

        // .font_part
        .font_part {
          @include fontPartBox();

          .font_regular, .font_medium, .font_bold {
            background-color: $color_white;
          }

          .fontSize96 {
            p {
              font-size: 44px;
              letter-spacing: 10px;
            }
          } // --- .fontSize96

          .fontSize12 {
            p {
              font-size: map-get($map: $font_size, $key: content2);
              letter-spacing: 10px;
            }
          } // --- .fontSize12
        } // --- .font_part
      } // --- .guide

      // .color_part
      .color_part {
        @include colorPartBox();

        h4 {
          @include h4();
        }

        .colorSubTitle {
          @include h5();
          margin-top: 18px;
          margin-left: 5px;
        }

        /* .back_color */
        // .back_color
        .back_color {
          display: flex;
          margin-top: 18px;
          margin-left: 5px;
          flex-wrap: wrap;
          column-gap: 26px;
          row-gap: 20px;

          span {
            width: 100%;
            height: 34px;
            display: block;
            font-size: map-get($map: $font_size, $key: content1);
            text-align: center;
            text-transform: uppercase;
            line-height: 31px;
          }

          /* .back_content */
          // .back_content
          .back_content {
            @include backPointColor();


            .green_shapes {
              @include back_shapes();
              background-color: #0a4b41;
            }

            .blue_shapes {
              @include back_shapes();
              background-color: #1145a2;
            }

            .bagie_shapes {
              @include back_shapes();
              background-color: #d7dac7;
            }

            .black_shapes {
              @include back_shapes();
              background-color: #000000;
            }

            .skyBule_shapes {
              @include back_shapes();
              background-color: #b7cae8;
            }

            .purple_shapes {
              @include back_shapes();
              background-color: #4f4259;
            }
          } /* --- .back_content */
        } /* --- .back_color */
      } /* --- .color_part */

      /* .point_part */
      // .point_part
      .point_part {
        margin-top: 30px;
        
        h4 {
          @include h4();
        }

        /* .kikiPointColor */
        // .kikiPointColor
        .kikiPointColor {
          display: flex;
          gap: 32px;
          margin-top: 18px;
          margin-left: 5px;

          /* .kikiPointContent */
          // .kikiPointContent
          .kikiPointContent {
            display: flex;
            flex-direction: column;

            .colorSubTitle {
              margin-top: 0px;
              margin-left: 0px;
            }

            /* .back_red */
            // .back_red
            .back_red {
              @include backPointColor();
              margin: auto;
              margin-top: 10px;

              span {
                width: 100%;
                height: 34px;
                display: block;
                font-size: map-get($map: $font_size, $key: content1);
                text-align: center;
                line-height: 31px;
                text-transform: uppercase;
              }

              .red_shapes {
                @include back_shapes();
                background-color: #d71e15;
              }
            } /* --- .back_red */
          } /* --- .kikiPointContent */

          /* .kikiPointfont */
          // .kikiPointfont
          .kikiPointfont {
            display: flex;
            flex-direction: column;

            .colorSubTitle {
              margin-top: 0px;
              margin-left: 0px;
            }
            .font_bold {
              width: 84px;
              height: 104px;
              border: 1.5px solid #ccc;
              border-radius: 4px;
              margin-top: 10px;
              background-color: $color_white;
        
              span {
                width: 100%;
                height: 66px;
                display: block;
                font-size: 36px;
                font-weight: $font_weight_bold;
                text-align: center;
                line-height: 68px;
              }

              /* .font_name */
              // .font_name
              .font_name {
                @include fontName();
                
                height: auto;
                padding: 2px 4px;

                p { 
                  font-size: map-get($map: $font_size, $key: content2);
                }
              } /* --- .font_name */
            } /* --- .font_bold */
          } /* --- .kikiPointfont */
        } /* --- .font_bold */
      } /* --- .point_part */

      /* .pointFontSize */
      // .pointFontSize
      .pointFontSize {
        margin-top: 15px;
        margin-left: 5px;

        span {
          font-size: map-get($map: $font_size, $key: content1);
        }

        p {
          font-size: map-get($map: $font_size, $key: projecttitle);
          letter-spacing: 10px;
          text-transform: uppercase;
        }
      } /* --- .pointFontSize */

      /* .pagever_intro */
      // .pagever_intro
      .pagever_intro {
        @include pageIntro();

        h3 {
          @include guidelineh3 ();
        }

        /* .pagever_content */
        // .pagever_content
        .pagever_content {
          display: flex;
          gap: 30px;
          margin-top: 36px;

          .kiki_mockup {
            width: 526px;
            height: 960px;
            background-color: #eee;
          }
          
          .page_explanation {
            width: 524px;
            background-color: #eee;

            p {
              @include arrowSvgTxt();
            }

            // 어두운 빨간 선
            .arrowLineDWRed {
              p {}

              svg {
                @include arrowSvg();
                top: 150px;
                right: 110px;
              }
            }

            // 남색선
            .arrowLineIndigo {
              p {}

              svg {
                @include arrowSvg();
                top: 450px;
                right: 140px;
              }
            }
            
            // 초록선
            .arrowLineGreen {
              p {}

              svg {
                @include arrowSvg();
                top: 650px;
                right: 100px;
              }
            }
          } /* --- .page_explanation */
        } /* --- .pagever_content */
      } /* --- .pagever_intro */
    } /* #project */

    // #contact
    /* #contact */
    #contact {
      width: 100%;
      height: 600px;
      padding: 40px 100px;
      background-color: #fffffc;

      h2 {
        @include h2;
      }

      .img_container {
        width: 240px;
        height: 240px;
        margin: auto;
        justify-content: center;
        display: flex;
        background-image: url(../../img/endingImg.JPG);
        background-size: 100% 100%;
      } /* --- img_container */

      p {
        width: 100%;
        height: 36px;
        margin-top: 35px;
        font-size: map-get($map: $font_size, $key: emphasis);
        font-weight: $font_weight_bold;
        text-align: center;
        color: $color_red;
        text-transform: capitalize;
      }

      /* .personal_data */
      // .personal_data
      .personal_data {
        
        p:first-child {
          width: 100%;
          height: 18px;
          margin-top: 60px;
          font-size: map-get($map: $font_size, $key: subtitle);
          font-weight: $font_weight_bold;
          text-align: center;
        } /* p:first-child */

        a {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin: auto;
          margin-top: 25px;
          text-align: center;
          font-size: map-get($map: $font_size, $key: content1);
        } /* --- a */
      } /* --- .personal_data */
    } /* --- #contact */
  } /* --- #main */

  // #footBox
  /* #footBox */
  #footBox {
    width: 100%;
    position: sticky;
    bottom: 0px;
    z-index: 51;
    
    /* .footinner */
    // .footinner
    .footinner {
      background-color: rgb(255, 255, 255);
      border-top: 1px solid rgb(229, 229, 229);
      bottom: 0px;
      display: flex;
      flex-direction: column;
      font-size: 11px;
      position: relative;
      text-align: center;
      width: 100%;
  
      /* .fnb_container */
      // .fnb_container
      .fnb_container {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0px 16px;
        
        h1 {
          width: auto;
          height: 100%;
          line-height: 36px;
          font-family: 'Black-Han-Sans';
          font-size: map-get($map:$font_size , $key:fnb);
          font-weight: $font_weight_bold;
          letter-spacing: 9px;
        } /* h1 */

        .verical_divider {
          background-color: rgb(225, 225, 225);
          -webkit-box-flex: 0;
          flex-grow: 0;
          height: 12px;
          margin-left: 10px;
          margin-right: 10px;
          width: 1px;
        } /* .verical_divider */

        /* .fnb */
        // .fnb
        .fnb {
          width: 100%;
          height: 36px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          font-size: map-get($map: $font_size, $key: fnb);
          font-weight: $font_weight_medium;
          -webkit-box-align: center;
          -webkit-box-pack: start;
          
          & label {
            width: 10%;
            height: auto;
            text-align: center;
          }

          label:hover {
            @include navHover();
          }
        } /* .fnb */

        /* .link_btn */
        // .link_btn
        .link_btn {
          width: 100%;
          height: 36px;
          display: flex;
          flex-direction: row;
          gap: 20px;
          font-size: map-get($map: $font_size, $key: fnb);
          align-items: center;
          justify-content: flex-end;
          -webkit-box-align: center;
          -webkit-box-pack: end;

          a {
            width: 86px;
            height: 24px;
            line-height: 24px;
            font-weight: $font_weight_medium;
          }

          .resume_btn {
            background-color: $color_yellow;
            border-radius: 10px;
          }

          .github_btn {
            background-color: $color_blue;
            color: $color_white;
            border-radius: 10px;
          }

          .notion_btn {
            background-color: $color_orange;
            border-radius: 10px;
          }
        } /* .link_btn */
      } /* .fnb_container */
    } /* .footinner */
  } /* #footBox */
} /* #wrap */

