// @use "sass:math"; 


@mixin font_set (){
  font-family:$font_family_black,  $font_family_score;
}

// image


@mixin sectionBasic() {
  width: 100%;
  height: 100vh;
}

@mixin h2() {
  text-align: right;
  font-size: map-get($map: $font_size, $key: subtitle);
  font-weight: $font_weight_medium;
  color: $color_blue;
  text-transform: uppercase;
}

@mixin h3() {
  width: auto;
  height: 24px;
  font-size: map-get($map: $font_size, $key: subtitle);
  font-weight: $font_weight_bold;
  text-transform: uppercase;
  line-height: 24px;
}

@mixin guidelineh3 {
  font-size: map-get($map: $font_size, $key: projectsub);
  font-weight: $font_weight_bold;
  text-transform: capitalize;
}

@mixin h4() {
  font-size: map-get($map: $font_size, $key: subtitle);
  font-weight: $font_weight_medium;
  text-transform: capitalize;
}

@mixin h5() {
  width: 100%;
  font-size: map-get($map: $font_size, $key: subtitle);
  font-weight: $font_weight_medium;
  color: $color_gray;
}

@mixin guideBox() {
  width: 100%;
  height: auto;
  padding: 40px 0;
}

@mixin guideflex() {
  display: flex;
  gap: 44px;
}

@mixin guidelogoContent() {
  width: 350px;
  height: auto;
  margin-top: 30px;
  flex-direction: column;
  margin-left: 15px;
}

@mixin fontName() {
  width: 100%;
  height: 33px;
  padding: 8.3px;
  border-top: 1.5px solid #eee;
  border-radius: 4px;

  p {
    font-size: map-get($map: $font_size, $key: content1);
    font-weight: $font_weight_medium;
  }
}

@mixin logoMargin() {
  margin-top: 22px;
  margin-left: 5px;
}

@mixin logoInP {
  margin-top: 10px;
  font-size: map-get($map: $font_size, $key: content1);
}

@mixin fontPartBox() {
  width: 328px;
  height: 482px;
  margin-top: 30px;

  h4 {
    @include h4();
  }

  h5 {
    @include h5();
    margin-top: 18px;
  }

  .font_ex {
    margin-top: 18px;
    display: flex;
    gap: 18px;

    span {
      width: 100%;
      height: 72px;
      display: block;
      font-size: 36px;
      font-weight: $font_weight_regular;
      text-align: center;
      line-height: 76px;
    }

    .font_name {
      @include fontName();
      p {
        font-size: 14px;
        font-weight: 500;
      }

      p:last-child {
        font-size: 12px;
        font-weight: 300;
      }
    } /* .font_name */

    .font_regular {
      width: 98px;
      height: 118px;
      border: 1.5px solid #ccc;
      border-radius: 4px;
    } /* .font_regular */

    .font_medium {
      width: 98px;
      height: 118px;
      border: 1.5px solid #ccc;
      border-radius: 4px;

      span {
        width: 100%;
        height: 72px;
        display: block;
        font-size: 36px;
        font-weight: $font_weight_medium;
        text-align: center;
        line-height: 76px;
      }
    } /* .font_medium */

    .font_bold {
      width: 98px;
      height: 118px;
      border: 1.5px solid #ccc;
      border-radius: 4px;

      span {
        width: 100%;
        height: 72px;
        display: block;
        font-size: 36px;
        font-weight: $font_weight_bold;
        text-align: center;
        line-height: 76px;
      }
    } /* .font_bold */
  } /* .font_ex */

  // 폰트 사이즈 가이드라인
  /* 폰트 사이즈 가이드라인 */
  .font_size {
    margin-top: 15px;
    span {
      font-size: map-get($map: $font_size, $key: content1);
    }



    .fontSize30 {
      @include fontSizeEx();

      p {
        font-size: map-get($map: $font_size, $key:emphasis);
        letter-spacing: 10px;
      }
    } /* .fontSize30 */

    .fontSize20 {
      @include fontSizeEx();

      p {
        font-size: map-get($map: $font_size, $key: projectsub);
        letter-spacing: 10px;
      }
    } /* .fontSize20 */

    .fontSize18 {
      @include fontSizeEx();

      p {
        font-size: map-get($map: $font_size, $key: pointcontent);
        letter-spacing: 10px;
      }
    } /* .fontSize18 */

    .fontSize16 {
      @include fontSizeEx();

      p {
        font-size: map-get($map: $font_size, $key: subtitle);
        letter-spacing: 10px;
      }
    } /* .fontSize16 */

    .fontSize14 {
      @include fontSizeEx();

      p {
        font-size: map-get($map: $font_size, $key: content1);
        letter-spacing: 10px;
      }
    } /* .fontSize14 */
  }
}

@mixin colorPartBox() {
  width: 300px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

@mixin ColorRgbTxt() {
  font-size: map-get($map: $font_size, $key: content1);
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}

@mixin backPointColor {
  width: 76px;
  height: 104px;
  border: 1.5px solid $color_gray;
  border-radius: 4px;
  background-color: $color_white;
}

@mixin back_shapes() {
  width: 73px;
  height: 72px;
}

@mixin fnb() {
  width: 86px;
  height: 24px;
  line-height: 24px;
  font-size: map-get($map: $font_size, $key: fnb);
  text-align: center;
  font-weight: $font_weight_medium;
  border-radius: 10px;
}

@mixin fontSizeEx() {
  margin-top: 10px;
}

@mixin projectIntro() {
  display: flex;
  gap: 88px;
}

@mixin introTxt() {
  .intro_txt {
    width: 350px;
    
    h3 {
      font-size: map-get($map: $font_size, $key: projecttitle);
      font-weight: $font_weight_bold;
      text-align: center;
    }
    .sub_txt {
      font-size: map-get($map: $font_size, $key: content1);
      text-align: center;
    }
    .detail {
      display: flex;
      gap: 36px;
      margin-top: 50px;

      .subtitle {
        p {
          font-size: map-get($map: $font_size, $key: subtitle);
          font-weight: $font_weight_bold;
          line-height: 30px;
        }
      }
      .intro_content {
        p {
          font-size: map-get($map: $font_size, $key: content1);
          line-height: 30px;
        }
      }
    }
    .project_explanation {
      width: 350px;
      height: 197px;
      margin-top: 50px;

      p {
        font-size: map-get($map: $font_size, $key: content1);
        line-height: 25px;
      }
    }
  }
}





// @media query --------------------------------------
$mobile : 320px;
$tablet : 680px;
$laptop : 1280px;
$pc:1440px;
$pcfull : 1920px;



@mixin mobile(){
  @media all and (max-width: #{$tablet - 1}){
    @content;
  }
}

@mixin tablet(){
  @media all and (min-width:$tablet) and (max-width:#{$laptop - 1}) {
    @content; 
  }
}

@mixin laptop(){
  @media all and (min-width:$laptop) and (max-width:#{$pc - 1}) {
    @content;
  }
}

@mixin pc(){
  @media all and (min-width:$pc) and (max-width:#{$pcfull - 1}) {
    @content;
  }
}

@mixin pcfull(){
  @media all and (min-width:$pcfull) {
    @content;
  }
}

